@model MiraiiCore.Models.ContentDataViewModel
@{
    ViewData["Title"] = "Search";
}

<h1>Search</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@using (Html.BeginForm("Search", "ContentData", FormMethod.Get))
{
    <input type="text" name="ContentSearch" />
    <input type="submit" value="Seach" name="submit" />
}

<table class="table">
    <thead>
        <tr>
            <th>
                XXX
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContentCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContentDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContentDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ContentInfo)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ContentLocation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContentCategory)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContentDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContentDate)
                </td>
             
            </tr>
        }
    </tbody>
</table>
