@model MiraiiCore.Models.ContentDataViewModel
@{
    ViewData["Title"] = "Home";
}

    <head>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/th_TH/sdk.js#xfbml=1&version=v6.0&appId=718174878568237&autoLogAppEvents=1"></script>
        <link href="~/css/css_home_about.css?ver=1.0.1" rel="stylesheet"> <!--?ver=1.0.1-->
        <link href="~/css/css_read.css" rel="stylesheet">

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-175459266-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'UA-175459266-1');
        </script>
    </head>

    <body>
        <div id="fb-root"></div>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/th_TH/sdk.js#xfbml=1&version=v9.0" nonce="ejLhZuw9"></script>

        <!--Crossfade Carousel (picture 1200x480)-->
        <img src="~/image/Index/miraii (1).png" class="img-head">

        <!--================ All content (500 x 261) =======================-->
        <main role="main" data-aos="fade-up" data-aos-duration="500">
            <div id="portfolio" class="portfolio">
                <div class="container">
                    <div class="row">
                        <header class="col-lg-12 ">
                            <ul id="portfolio-flters">
                                <li data-filter="*" class="filter-active"> Latest </li>
                                <!--<li data-filter=".filter-app"> Popular </li>-->
                            </ul>
                        </header>
                    </div>
                    <br />

                    <div class="row portfolio-container" data-aos="fade-up" data-aos-duration="1000">
                        @foreach (var item in Model.ContentInfo)
                        {
                            <article class="col-lg-4 col-md-6 portfolio-item filter-web">
                                <a asp-area="" asp-controller="@item.Controller" asp-action="@item.Action">
                                    <img src="@Url.Content(item.ContentLocation)" class="content-img" text="Thumbnail" />
                                </a>
                                <div class="card-body">
                                    <a class="content-name" asp-area="" asp-controller="@item.Controller" asp-action="@item.Action">
                                        @Html.DisplayFor(modelItem => item.ContentName)
                                    </a>
                                    <p class="content-category">@Html.DisplayFor(modelItem => item.ContentCategory)</p>
                                    <h1 class="content-credit">Author : @Html.DisplayFor(modelItem => item.ContentWriter)</h1>

                                    <p class="content-detail">@Html.DisplayFor(modelItem => item.ContentDescription)</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <button type="submit" class="btn btn-sm btn-outline-success"><a class="btn-outline-success" asp-area="" asp-controller="@item.Controller" asp-action="@item.Action">View</a></button>
                                        </div>
                                        <small class="text-muted"><i class="far fa-calendar-alt"></i> &nbsp; @Html.DisplayFor(modelItem => item.ContentDate)</small>
                                    </div>
                                </div>
                            </article>
                        }
                    </div>
                    <a class="btn form-control btn-outline-success" asp-controller="Blog" asp-action="index"> See more !</a> <!-- BS3 -->
                </div>
            </div>
        </main>

        <br />
        <br />

        <div class="container" data-aos="fade-up" data-aos-duration="500">
            <hr>
            <h2 class="display-6 text-center text-head-dark"> Video </h2>
            <hr>
        </div>

        <div class="container-fluid">

            <div data-aos="fade-up" data-aos-duration="1000" id="carouselExampleIndicators" data-interval="false" class="carousel slide carousel-fade" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li style="background-color: black;" data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li style="background-color: black;" data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li style="background-color: black;" data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div data-autoplay="true" class="fb-video" data-href="https://www.facebook.com/watch/?v=367706440915795&amp;extid=kTxVQJjZvwTI7qnO" data-show-text="false" data-width=""></div>
                                </div>
                                <div class="col-md-6 mb-4"> <img src="~/image/Index/Next Video Coming Soon.png" class="d-block w-100" alt="..."></div>
                            </div>
                        </div>
                        <br />
                        <br />
                    </div>

                    <div class="carousel-item">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 mb-4"> <img src="~/image/Index/Next Video Coming Soon.png" class="d-block w-100" alt="..."></div>
                                <div class="col-md-6 mb-4"> <img src="~/image/Index/Next Video Coming Soon.png" class="d-block w-100" alt="..."></div>
                            </div>
                        </div>
                        <br />
                        <br />
                    </div>

                    <div class="carousel-item">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 mb-4"> <img src="~/image/Index/Next Video Coming Soon.png" class="d-block w-100" alt="..."></div>
                                <div class="col-md-6 mb-4"> <img src="~/image/Index/Next Video Coming Soon.png" class="d-block w-100" alt="..."></div>
                            </div>
                        </div>
                        <br />
                        <br />
                    </div>
                </div>

                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <i class="fas fa-caret-left video-indicators" aria-hidden="true"></i>
                    <span class="sr-only"> Previous </span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <i class="fas fa-caret-right video-indicators" aria-hidden="true"></i>
                    <span class="sr-only"> Next </span>
                </a>
            </div>
            <center data-aos="fade-up" data-aos-duration="1000">
                <a href="https://www.facebook.com/miraii.space/videos/?ref=page_internal" target="_blank">
                    <button type="button" class="btn btn-outline-secondary"> Watch more videos on Facebook </button>
                </a>
            </center>
        </div>

        <br />
        <br />

        <!--Content 1-->
        <main class="container-xl fix-index">
            <div class="row fix-index">
                <!--=============================== Weekly (4:4) =================================-->
                <div class="col-sm" data-aos="fade-up" data-aos-duration="500">
                    <div data-aos="fade-up" data-aos="fade-up" data-aos-duration="500">
                        <hr>
                        <p class="display-6 text-center text-weekly">มุมนักเขียนประจำสัปดาห์</p>
                        <hr>
                    </div>
                    <br />
                    <div class="container">

                        <!--Popular 1-->
                        <div class="row weekly-box">
                            <div class="col-md-4 px-0">

                                <a>
                                    <img class="weekly-img" src="~/image/Index/memoriesonthetablebrown.png">
                                </a>
                            </div>
                            <div class="col-sm-8">
                                <br />
                                <br />
                                <a>
                                    <p class="weekly-name"> Coming Soon </p>
                                </a>
                                <p class="weekly-description">
                                </p>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-6 text-left weekly-credit"> <p> </p></div>
                                        <div class="col-6 text-right weekly-credit"> <p> </p></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Popular 2-->
                        <div class="row weekly-box">
                            <div class="col-md-4 px-0">
                                <a>
                                    <img class="weekly-img" src="~/image/Index/memoriesonthetablebrown.png">
                                </a>
                            </div>
                            <div class="col-sm-8">
                                <br />
                                <br />
                                <a>
                                    <p class="weekly-name"> Coming Soon </p>
                                </a>
                                <p class="weekly-description">
                                </p>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-6 text-left weekly-credit"> <p> </p></div>
                                        <div class="col-6 text-right weekly-credit"> <p> </p></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Popular 3-->
                        <div class="row weekly-box">
                            <div class="col-md-4 px-0">

                                <a>
                                    <img class="weekly-img" src="~/image/Index/memoriesonthetablebrown.png">
                                </a>
                            </div>
                            <div class="col-sm-8">
                                <br />
                                <br />
                                <a>
                                    <p class="weekly-name"> Coming Soon </p>
                                </a>
                                <p class="weekly-description">
                                </p>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-6 text-left weekly-credit"> <p>   </p></div>
                                        <div class="col-6 text-right weekly-credit"> <p> </p></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Popular 4-->
                        <div class="row weekly-box">
                            <div class="col-md-4 px-0">

                                <a>
                                    <img class="weekly-img" src="~/image/Index/memoriesonthetablebrown.png">
                                </a>
                            </div>
                            <div class="col-sm-8">
                                <br />
                                <br />
                                <a>
                                    <p class="weekly-name"> Coming Soon </p>
                                </a>
                                <p class="weekly-description">
                                </p>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-6 text-left weekly-credit"> <p>   </p></div>
                                        <div class="col-6 text-right weekly-credit"> <p> </p></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Popular 5-->
                        <div class="row weekly-box">
                            <div class="col-md-4 px-0">

                                <a>
                                    <img class="weekly-img" src="~/image/Index/memoriesonthetablebrown.png">
                                </a>
                            </div>
                            <div class="col-sm-8">
                                <br />
                                <br />
                                <a>
                                    <p class="weekly-name"> Coming Soon </p>
                                </a>
                                <p class="weekly-description">
                                </p>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-6 text-left weekly-credit"> <p>   </p></div>
                                        <div class="col-6 text-right weekly-credit"> <p> </p></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <a class="btn form-control btn-outline-success"> See more ! </a>
                </div>

                <div class="col-md-6 mb-5" data-aos="fade-up" data-aos-duration="1000">
                    <br />
                    <div class="text-center">
                        <div class="fb-page" data-href="https://www.facebook.com/kirinhuman" data-tabs="timeline" data-width="" data-height="" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/kirinhuman" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/kirinhuman">Memories on the table brown</a></blockquote></div>
                    </div>
                    <br />
                    <a asp-area="" asp-controller="About" asp-action="Index" data-aos="fade-up" data-aos-duration="1000">
                        <img src="~/image/Index/workwithus.png" class="img-big-content">
                    </a>
                </div>
            </div>
        </main><!--=============================== End of Weekly =================================-->

        <br />

        <div class="container">
            <div class="row">
                <!-- Post Content Column -->
                <div class="col-lg-6" data-aos="fade-up" data-aos-duration="500">
                    <div class="card my-4">
                        <h5 class="card-header display-6 text-center bg-maincolor "><p class="text-head-dark"> PODCAST ?! </p> </h5>
                        <div class="card-body ">
                            <div class="container podcast-center">
                                <audio controls>
                                    <source src="~/assets/podcast/1.mp3" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio><br />
                            </div>
                            <p class="display-6 text-center">Now you are listening to <a href="#">this</a></p><br />
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr class="table bg-maincolor">
                                            <th scope="col">Title</th>
                                            <th scope="col">Speaker</th>
                                            <th scope="col">Length</th>
                                            <th scope="col">Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row"><a href="#">???</a></th>
                                            <td>??????</td>
                                            <td>???</td>
                                            <td>???</td>
                                        </tr>
                                        <tr>
                                            <th scope="row"><a href="#">???</a></th>
                                            <td>??????</td>
                                            <td>???</td>
                                            <td>???</td>
                                        </tr>
                                        <tr>
                                            <th scope="row"><a href="#">???</a></th>
                                            <td>??????</td>
                                            <td>???</td>
                                            <td>???</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <a class="btn form-control btn-outline-success">Sound Good ?! Discover More !</a>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-6 text-center" data-aos="fade-up" data-aos-duration="750">
                    <hr>
                    <h2 class="display-6 text-center text-head-dark ">Artwork</h2>
                    <hr>
                    <div id="carouselExampleCaptions" class="carousel slide " data-interval="3000" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <a href="https://www.facebook.com/miraii.space/posts/146753780415946" target="_blank">
                                    <img src="~/image/Index/Artwork09.jpg" class="img-fluid" width="400" height="400">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="https://www.facebook.com/miraii.space/photos/a.128260372265287/145634797194511" target="_blank">
                                    <img src="~/image/Index/Artwork04.png" class="img-fluid" width="400" height="400">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="https://www.facebook.com/miraii.space/photos/a.128260372265287/143296507428340/" target="_blank">
                                    <img src="~/image/Index/Artwork05.png" class="img-fluid" width="400" height="400">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="https://www.facebook.com/miraii.space/photos/a.128260372265287/141319574292700/" target="_blank">
                                    <img src="~/image/Index/Artwork06.png" class="img-fluid" width="400" height="400">
                                </a>
                            </div>
                        </div>
                    </div>
                    <br />
                </div>
            </div>
        </div>

        <br />
        <br />
        <div class="container">

            <div data-aos="fade-up" data-aos-duration="500">
                <hr>
                <p class="display-6 text-center text-head-dark">Contact for work</p>
                <hr>
            </div>

            <div class="row" data-aos="fade-up" data-aos-duration="1000">
                <div class="col-md-6 mb-5">
                    <div class="text-center">
                        <div class="fb-page" data-href="https://www.facebook.com/Miraii-101825598242098/" data-tabs="timeline" data-width="" data-height="427" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/Miraii-101825598242098/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Miraii-101825598242098/"> Miraii </a></blockquote></div>
                    </div>
                </div>
                <div class="col-md-6 mb-5">
                    <address class="text-center">
                        <br />
                        <a href="https://www.instagram.com/miraii.space/?hl=th"><i class="icofont-instagram icon "></i></a>
                        <a href="https://www.facebook.com/miraii.space"><i class="icofont-facebook icon"></i></a>
                        <a href="https://www.linkedin.com/company/miraii/"><i class="icofont-linkedin icon text-center"></i><br /><br /></a>
                    </address>

                    <a asp-area="" asp-controller="About" asp-action="Index">
                        <button class="btn btn-outline-success form-control">Learn more about us</button><br /><br />
                    </a>

                    <p class="display-6 text-center">You can leave us some comments below :)</p><br />

                    @using (Html.BeginForm("Feedback", "Home", FormMethod.Post))
                    {
                        <form data-aos="fade-up">
                            <div class="form-group">
                                <textarea class="form-control" name="Feedback" id="Feedback" rows="5" placeholder="Give us some comments here" required></textarea>
                            </div>
                            <button type="submit" class="btn btn-outline-warning form-control ">Submit</button>
                        </form>}
                </div>
            </div>
        </div>
        <!--================ Banner =======================-->
        <div class="container" data-aos="fade-up" data-aos-duration="500">
            <div class="row">
                <div class="col-lg-6">
                    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <strong class="d-inline-block mb-2 text-warning">For Ads</strong>
                            <h3 class="mb-0 display-6">Advertising</h3>
                            <div class="mb-1 text-muted">-----</div>
                            <p class="card-text mb-auto">-----</p>
                            <a href="#" class="stretched-link">miraii.team@gmail.com</a>
                        </div>
                        <div class="col-auto d-none d-lg-block">

                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <strong class="d-inline-block mb-2 text-warning">For Ads</strong>
                            <h3 class="mb-0 display-6">Advertising</h3>
                            <div class="mb-1 text-muted">-----</div>
                            <p class="mb-auto">-----</p>
                            <a href="#" class="stretched-link">miraii.team@gmail.com</a>
                        </div>
                        <div class="col-auto d-none d-lg-block">

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>

