@model MiraiiCore.Models.ContentDataViewModel
@{
    ViewData["Title"] = "Miraii";
}

<script async defer crossorigin="anonymous" src="https://connect.facebook.net/th_TH/sdk.js#xfbml=1&version=v6.0&appId=718174878568237&autoLogAppEvents=1"></script>
<style>
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .content-name {
        font-family: 'Sarabun', sans-serif;
        font-weight: bold;
        font-size: 15px;
        color: black;
    }

    .content-head-th {
        font-family: 'Sarabun', sans-serif;
        font-weight: bold;
        font-size: 25px;
        color: black;
        position: absolute;
        bottom: 8px;
    }

    .content-head {
        position: absolute;
        font-weight: bold;
        font-size: 25px;
        color: white;
        bottom: 8px;
    }

    .content-text-preview {
        color: black;
    }

    .img-head {
        display: block;
        margin-top: 75px;
        margin-bottom: 20px;
        width: 100%;
    }

    .img-big-content {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 97.5%;
    }

    .fix-index {
        max-width: 1110px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }

    .podcast-center {
        max-width: 330px;
        margin-left: auto;
        margin-right: auto;
    }

    .icon {
        margin-top: 8px;
        margin-bottom: 9px;
        font-size: 35px;
    }

    .text-weekly {
        color: #E5AC51;
        font-family: 'Sarabun', sans-serif;
        margin-bottom: 0px;
        font-size: 2rem;
    }
</style>

<body>
    <!--Crossfade Carousel (picture 1200x480)-->
    <img src="~/image/Index/cover.png" class="img-head">

    <main role="main">
        <section id="portfolio" class="portfolio">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 ">
                        <ul id="portfolio-flters">
                            <li data-filter="*" class="filter-active">Latest</li>
                            <li data-filter=".filter-app">Blog</li>
                            <li data-filter=".filter-card">Story</li>
                            <li data-filter=".filter-web">Life</li>
                            <li data-filter=".filter-web">Review</li>
                        </ul>
                    </div>
                </div>

                <div class="row portfolio-container" data-aos="fade-up">
                    @foreach (var item in Model.ContentInfo)
                    {
                        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                            <a asp-area="" asp-controller="@item.Controller" asp-action="@item.Action">
                                <img src="@Url.Content(item.ContentLocation)" width="100" height="225" class="card-img-top" text="Thumbnail" />
                            </a>
                            <div class="card-body">
                                <a asp-area="" asp-controller="@item.Controller" asp-action="@item.Action"> @Html.DisplayFor(modelItem => item.ContentName) </a>
                                <br />
                                <p class="card-text">@Html.DisplayFor(modelItem => item.ContentCategory)</p>
                                <p class="card-text">@Html.DisplayFor(modelItem => item.ContentDescription)</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="submit" class="btn btn-sm btn-outline-success"><a class="btn-outline-success" asp-area="" asp-controller="@item.Controller" asp-action="@item.Action">View</a></button>
                                        <button type="submit" class="btn btn-sm btn-outline-primary" data-href="https://thehandymanbkk.com/Review/LoveGeneration" data-layout="button"><a class="btn-outline-primary" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fthehandymanbkk.com%2FReview%2FLoveGeneration&amp;src=sdkpreparse">Share</a></button>
                                    </div>
                                    <small class="text-muted">@Html.DisplayFor(modelItem => item.ContentDate)</small>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <a asp-area="" asp-controller="Blog" asp-action="Index" class="btn form-control btn-outline-success">See more !</a> <!-- BS3 -->
            </div>
        </section>
    </main>

    <!--Content 1-->
    <div class="container-xl fix-index ">
        <div class="row fix-index">
            <div class="col-xl fix-index">
                <div class="container">
                    <div class="row mt-3">
                        <a href="#">
                            <img src="~/image/Index/mitty.png" class="img-big-content">
                        </a>
                    </div>
                    <div class="row mt-3">
                        <a href="#">
                            <img src="~/image/Index/workwithus.png" class="img-big-content">
                        </a>
                    </div>
                </div>
            </div>


            <!--WEEKLY UPDATE !! (picture 4:3)-->

            <div class="col-sm">
                <hr>
                <p class="display-6 text-center text-weekly">มุมนักเขียนประจำสัปดาห์</p>
                <hr>
                <div class="container">
                    <br />
                    <!--Popular 1-->
                    <div class="row text-left">
                        <div class="col-md-4 my-2">
                            <!--img-link-->
                            <a href="https://localhost:44369/Blog/index"><img src="~/image/Index/memoriesonthetablebrown.png" class="center"></a>
                        </div>
                        <div class="col-sm-8 my-2">
                            <!--content-link-->
                            <a href="https://localhost:44369/Blog/index"><h2 class="content-name"> รีวิว DOCTOR ROMANTIC (2016)</h2></a>
                            <p class="content-text-preview">
                                <b>26/07/2020</b><br />
                                การตัดสินใจเลือกประกอบอาชีพการงานของทุกคน
                                เชื่อว่าแต่ละคนคงมีเหตุผลแตกต่างกันไปในการตัดสินใจ
                            </p>

                        </div><!--col-->
                    </div><!--row-->
                    <!--Popular 2-->
                    <div class="row text-left">
                        <div class="col-md-4 my-2">
                            <!--img-link-->
                            <a href="https://localhost:44369/Blog/index"><img src="~/image/Index/memoriesonthetablebrown.png" class="center"></a>
                        </div>
                        <div class="col-sm-8 my-2">
                            <!--content-link-->
                            <a href="https://localhost:44369/Blog/index"><h2 class="content-name"> รีวิว DOCTOR ROMANTIC (2016)</h2></a>
                            <p class="content-text-preview">
                                <b>26/07/2020</b><br />
                                การตัดสินใจเลือกประกอบอาชีพการงานของทุกคน
                                เชื่อว่าแต่ละคนคงมีเหตุผลแตกต่างกันไปในการตัดสินใจ
                            </p>

                        </div><!--col-->
                    </div><!--row-->
                    <!--Popular 3-->
                    <div class="row text-left">
                        <div class="col-md-4 my-2">
                            <!--img-link-->
                            <a href="https://localhost:44369/Blog/index"><img src="~/image/Index/memoriesonthetablebrown.png" class="center"></a>
                        </div>
                        <div class="col-sm-8 my-2">
                            <!--content-link-->
                            <a href="https://localhost:44369/Blog/index"><h2 class="content-name"> รีวิว DOCTOR ROMANTIC (2016)</h2></a>
                            <p class="content-text-preview">
                                <b>26/07/2020</b><br />
                                การตัดสินใจเลือกประกอบอาชีพการงานของทุกคน
                                เชื่อว่าแต่ละคนคงมีเหตุผลแตกต่างกันไปในการตัดสินใจ
                            </p>

                        </div><!--col-->
                    </div><!--row-->
                    <!--Popular 4-->
                    <div class="row text-left">
                        <div class="col-md-4 my-2">
                            <!--img-link-->
                            <a href="https://localhost:44369/Blog/index"><img src="~/image/Index/memoriesonthetablebrown.png" class="center"></a>
                        </div>
                        <div class="col-sm-8 my-2">
                            <!--content-link-->
                            <a href="https://localhost:44369/Blog/index"><h2 class="content-name"> รีวิว DOCTOR ROMANTIC (2016)</h2></a>
                            <p class="content-text-preview">
                                <b>26/07/2020</b><br />
                                การตัดสินใจเลือกประกอบอาชีพการงานของทุกคน
                                เชื่อว่าแต่ละคนคงมีเหตุผลแตกต่างกันไปในการตัดสินใจ
                            </p>
                        </div><!--col-->
                    </div><!--row-->
                </div><!--container inside (Most Popular)-->
                <br /><br />
                <a asp-area="" asp-controller="Story" asp-action="Index" class="btn form-control btn-outline-success">See more !</a>
            </div><!--Most Popular-->
        </div><!--row (content1)-->
    </div><!--container-->
    <div class="container">
        <div class="row">
            <!-- Post Content Column -->
            <div class="col-lg-6">
                <div class="card my-4 ">
                    <h5 class="card-header display-6 text-center bg-maincolor "><p class="text-head-dark"> PODCAST ?! </p> </h5>
                    <div class="card-body ">
                        <div class="container podcast-center">
                            <audio controls>
                                <source src="~/assets/podcast/1.mp3" type="audio/mpeg">
                                Your browser does not support the audio element.
                            </audio><br />
                        </div>
                        <p class="display-6 text-center">Now you are listening to <a href="#">this</a></p><br />
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr class="table bg-maincolor">
                                        <th scope="col">Title</th>
                                        <th scope="col">Speaker</th>
                                        <th scope="col">Length</th>
                                        <th scope="col">Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row"><a href="#">AAA</a></th>
                                        <td>Anonymous</td>
                                        <td>12:49</td>
                                        <td>13/04/2020</td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><a href="#">BBB</a></th>
                                        <td>Picolo</td>
                                        <td>04:20</td>
                                        <td>20/04/2020</td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><a href="#">CCC</a></th>
                                        <td>Nicochan</td>
                                        <td>29:30</td>
                                        <td>20/04/2020</td>
                                    </tr>
                                </tbody>
                            </table>
                            <a asp-area="" asp-controller="Podcast" asp-action="Index" class="btn form-control btn-outline-success">Sound Good ?! Discover More !</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 text-center">
                <hr>
                <h2 class="display-6 text-center text-head-dark ">Artwork</h2>
                <hr>
                <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="https://fanart.tv/api/download.php?type=download&image=54819&section=1" class="img-fluid" width="400" height="400">
                            <div class="carousel-caption d-none d-md-block">
                                <h5 class="display-6 text-black"><a href="#">AAA</a></h5>
                                <p c>AAAAAAAAAAA</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="https://fanart.tv/api/download.php?type=download&image=54819&section=1" class="img-fluid" width="400" height="400">
                            <div class="carousel-caption d-none d-md-block">
                                <h5 class="display-6 text-black"><a href="#">AAA</a></h5>
                                <p>AAAAAAAAAAA</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="https://fanart.tv/api/download.php?type=download&image=54819&section=1" class="img-fluid" width="400" height="400">
                            <div class="carousel-caption d-none d-md-block">
                                <h5 class="display-6 text-black"><a href="#">AAA</a></h5>
                                <p>AAAAAAAAAAA</p>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <br />
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-md-12">
            <hr>
            <p class="display-6 text-center text-head-dark">Contact for work</p>
            <hr>
            <div class="row">
                <div class="col-md-6 mb-5">
                    <address class="text-center">
                        <div class="fb-page" data-href="https://www.facebook.com/Miraii-101825598242098/" data-tabs="timeline" data-width="340" data-height="427" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/Miraii-101825598242098/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Miraii-101825598242098/">The Handyman</a></blockquote></div>
                        <br />
                    </address>
                </div>
                <div class="col-md-6 mb-5">
                    <address class="text-center">
                        <br />
                        <a href="https://www.instagram.com/"><i class="icofont-instagram icon "></i></a>
                        <a href="https://www.facebook.com/"><i class="icofont-facebook icon"></i></a>
                        <a href="https://www.linkedin.com/"><i class="icofont-linkedin icon text-center"></i><br /><br /></a>
                    </address>

                    <a asp-area="" asp-controller="About" asp-action="Index">
                        <button class="btn btn-outline-success form-control">Learn more about us</button><br /><br />
                    </a>

                    <p class="display-6 text-center">You can leave us some comments here : )</p><br />


                    @using (Html.BeginForm("Feedback", "Home", FormMethod.Post))
                    {
                        <form data-aos="fade-up">
                            <div class="form-group">
                                <textarea class="form-control" name="Feedback" id="Feedback" rows="5" required></textarea>
                            </div>
                            <button type="submit" class="btn btn-outline-warning form-control ">Submit</button>
                        </form>}
                </div>
            </div>
        </div>

    </div>
   
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary">World</strong>
                        <h3 class="mb-0 display-6">For Ads</h3>
                        <div class="mb-1 text-muted">Nov 12</div>
                        <p class="card-text mb-auto">AAAAAAAAAAAAAAAAAAAAAA</p>
                        <a href="#" class="stretched-link">Continue reading</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">

                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-success">Design</strong>
                        <h3 class="mb-0 display-6">For Ads</h3>
                        <div class="mb-1 text-muted">Nov 11</div>
                        <p class="mb-auto">AAAAAAAAAAAAAAAAAAAAAA</p>
                        <a href="#" class="stretched-link">Continue reading</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

