@{
    ViewData["Title"] = " Wonder Woman 1984, Black Widow และ Mulan กับสัญญาณเตือนการกลับมาของอุตสาหกรรมภาพยนตร์ ";
    Layout = "~/Views/Shared/_Layout _Read.cshtml";
}

<head>
    <link href="~/css/css_article.css" rel="stylesheet" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-175459266-1"></script>
    <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'UA-175459266-1');
    </script>
</head>

<body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v8.0&appId=718174878568237&autoLogAppEvents=1" nonce="TLuLUqId"></script>

    <!--=========================== Head & Name ==================================-->
    <img class="head-img" src="~/image/Read/Blog/ComebackOfMovieIndustry/Cover.jpg">
    <div class="container space">
        <p class="top-title"> Wonder Woman 1984, Black Widow และ Mulan กับสัญญาณเตือนการกลับมาของอุตสาหกรรมภาพยนตร์ </p>

        <!--Credit-->
        <div class="row">
            <div class="col text-left">
                <br />
                <p class="top-credit">Author&nbsp; : ลุงโจนาธาน </p>
                <p class="top-credit">Editor&nbsp; : Alaska </p>
                <p class="top-credit">Date&nbsp;&nbsp;&nbsp;&nbsp;: 2020-08-31 </p>
            </div>

            <div class="col text-right">
                <ul id="force-sameLine" class="top-credit">
                    <li><i class="far fa-eye"></i> &nbsp; </li>
                    <li>
                        <a style="color:white; letter-spacing: -1px;" href='https://www.symptoma.rs/sr/info/covid-19#info'>SARS-CoV-2</a>
                        <script type='text/javascript' src='https://www.freevisitorcounters.com/auth.php?id=f97c30617c3ff9dec010a1a7019312ef68c3cc47'></script>
                        <script type="text/javascript" src="https://www.freevisitorcounters.com/en/home/counter/740169/t/3"></script>
                    </li>
                    <br />
                    <div class="fb-share-button" data-href="https://miraii.space/Blog/ComebackOfMovieIndustry" data-layout="button_count" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmiraii.space%2FBlog%2FComebackOfMovieIndustry&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore"> Share </a></div>
                </ul>
            </div><!--style="color:white; letter-spacing: -1px;"-->
            <br />
        </div>
        <hr>
        <br>
    </div>

    <!--========================== Detail =======================================-->
    <div class="container space">

        <img class="detail-img" src="~/image/Read/Blog/ComebackOfMovieIndustry/500x375.jpg" />

        <p>หากพูดถึงหนังทำรายได้ที่มีการเอาตัวละครเพศหญิงมาเป็นตัวเอกของเรื่อง แน่นอนว่าต้องมีบางคนแอบนึกถึง Wonder Woman, Harley Quinn, Captain Mavel หรือ สวยพิฆาต Lucy มาในปีนี้เราจึงอยากแนะนำภาพยนตร์ใหม่ล่าสุดอีก 3 เรื่องแนวสาวๆสายบู๊ให้เพื่อนๆได้ลองตัดสินใจเลือกรับชมกัน (หรือจะดูให้หมดเลยก็ได้นะ 555) อย่าง Wonder Woman 1984, Black Widow และ Mulan ซึ่งทั้งสามเรื่องนี้เองก็กำลังจะมีกำหนดฉายในโรงภาพยนตร์เร็วๆนี้อีกด้วย </p>

        <p>โดยในขณะที่ยังมีการระบาดของเชื้อไวรัส COVID19 สตูดิโอหลายค่ายเองก็เลือกที่จะเลื่อนการฉายภาพยนตร์ของตัวเองออกไป แต่ดูเหมือนว่าบริษัทยักษ์ใหญ่อย่าง Warner Bros และ Walt Disney กลับเลือกที่จะเอาหนังที่มีทุนสูงและทำเงินเหล่านี้มาฉายก่อน อาจเรียกได้ว่าเป็นการตัดสินใจที่เสี่ยงมากหากคิดจะฉายในช่วงที่คนทั่วโลกเลือกที่จะนอนดูหนังอยู่ที่บ้านแทนการออกไปรับชมที่โรงภาพยนตร์โดยตรง หรือนี่จะเป็นสัญญาณหรือการจุดประกายไฟบอกว่าอุตสาหกรรมภาพยนตร์กำลังจะกลับมาคึกคักอีกครั้งกันนะ ?!</p>

        <p class="detail-text-bold"> Wonder Woman 1984 </p>

        <img class="detail-img" src="~/image/Read/Blog/ComebackOfMovieIndustry/1_ww84.jpg" />

        <p>มาดูกันที่เรื่องแรกที่เราอยากแนะนำมากๆ ก็คือ หญิงแกร่ง Wonder Woman 1984 จากค่าย DC กำกับโดย Warner Bros ที่เป็นภาคต่อของ Wonder Woman ในปี 2017 โดยตัวหนังมีเนื้อเรื่องในช่วงปี 1984 ซึ่งอยู่ในช่วงท่ามกลางความตรึงเครียดของสงครามเย็นระหว่างสหรัฐอเมริกากับสหภาพโซเวียต ก่อนที่จะประทุกลายเป็นสงครามนิวเคลียร์ในภายหลัง</p>

        <img class="detail-img" src="~/image/Read/Blog/ComebackOfMovieIndustry/2_ww84.jpg" />

        <p>เหตุผลที่ Wonder Woman 1984 เป็นหนังที่น่าสนใจมากๆนั้น ก็เพราะภาคแรกทำรายได้ถึง 821 ล้านเหรียญสหรัฐทั่วโลกและยังเป็นหนังที่กอบกู้เสียงวิจารณ์ให้กับฮีโร่ฝั่ง DC ได้อย่างสวยงาม โดยยังคงได้ผู้กำกับคนเดิมในภาคแรกอย่าง Patty Jenkins มานั่งแท่นกำกับหนังในภาคนี้</p>

        <img class="detail-img" src="~/image/Read/Blog/ComebackOfMovieIndustry/3_ww84.jpg" />

        <p>ทางฝั่งนักแสดงเองก็ยังใช้นักแสดงชุดเดิมอยู่ อย่าง Gal Gadot รับบทเด่นเป็น Wonder Woman / Diana เจ้าหญิงแห่งเกาะอาเมซอน และเพิ่มตัวละครใหม่ที่คาดว่าจะเป็นตัวร้ายในภาคนี้ก็คือ Max Lord ที่รับบทโดยนักแสดง Pedro Pascal และ Hippolyta รับบทโดย Connie Nielsen </p>

        <img class="detail-img" src="~/image/Read/Blog/ComebackOfMovieIndustry/4_ww84.jpg" />

        <p>จุดสนใจอีกจุดหนึ่งของเรื่องคือการกลับมาของ Steve Trevor รับบทโดยนักแสดงคนเดิม Chiris Pine พระเอกในภาคแรกที่เป็นที่รักของ Diana ซึ่งกลับมาปรากฏตัวอย่างปริศนาต่อหน้า Diana ในตัวอย่าง Wonder Woman 1984 ที่เพิ่งปล่อยออกมา</p>

        <p class="detail-text-bold"> Black Widow </p>

        <img class="detail-img" src="~/image/Read/Blog/ComebackOfMovieIndustry/5_Black widow.jpg" />

        <p>ตามมาด้วย Black Widow สายลับสุดเท่จากค่าย Mavel Studio เป็นตัวละครหลักที่เป็นผู้หญิงใน MCU ไม่กี่คนที่มีภาพยนตร์แฟรนไชส์ Solo ออกมา จากตัวอย่างคาดว่าเนื้อเรื่องน่าจะเป็นเหตการณ์ที่เกิดหลังจากการล่มสลายของทีม The Avenger ในตอน Captain America : Civil war และก่อนเหตุการณ์ใน The Avenger : Infinity war </p>

        <img class="detail-img" src="~/image/Read/Blog/ComebackOfMovieIndustry/6_Black widow.jpg" />

        <p>หลังจาก Natasha Romanoff หรือ Black Widow ที่รับบทโดย Scarlett Johansson ได้แยกตัวออกมาและถูกคุกคามตามล่าจากฝั่งรัฐบาล ต่อมาก็มี Yelena Belova ตัวละครใหม่ที่รับบทโดย Florence Pugh มาขอความช่วยเหลือ ซึ่งนางก็เป็นคนที่เปรียบเสมือนเป็นน้องสาวแท้ๆของเธอ ทั้งสองจึงถูกตามล่าโดยกลุ่มที่มีนามว่า Red Room ซึ่งอดีตเคยเป็นชื่อโครงการที่ใช้สอนสายลับโซเวียตและเคยฝึกสอน Black Widow มาก่อน (ซึ่งกลุ่ม Red Room เองก็ถูกล้างสมองและสั่งการโดย Taskmaster อีกที) </p>

        <img class="detail-img" src="~/image/Read/Blog/ComebackOfMovieIndustry/7_Black widow.jpg" />

        <p>จุดสนใจของหนังเรื่อง Black Widow คือการที่ Scarlett Johansson เป็นหนึ่งในทีมการสร้างด้วย นอกจากนี้ยังได้ผู้กำกับหญิงมากความสามารถชาวออสเตรเลีย Cate Shortland ซึ่งเคยกำกับ Berlin Syndrome รักต้องขัง ซึ่งเป็นหนังสยองขวัญ มากำกับซึ่งรับรองได้ว่าเราจะได้รู้เบื้องหลังของ Black Widow อย่างละเอียดและเพิ่มความตื่นเต้นตุ้งแช่ได้อย่างแน่นอน</p>

        <img class="detail-img" src="~/image/Read/Blog/ComebackOfMovieIndustry/8_Black widow.jpg" />

        <p>จุดสนใจอีกจุดคือตัวร้ายอย่าง Taskmaster ที่ยังเป็นปริศนา รวมไปถึงจุดประสงค์ของตัวละครตัวนี้ ตัวละคร Taskmaster เป็นตัวร้ายที่มีความสามารถในการเลียบแบบทักษะการต่อสู้จากการมอง ซึ่งจากในตัวอย่างเราจะเห็นว่าตัวละครตัวนี้ได้เรียนรู้การใช้โล่ของ Captain America, การใช้ธนูของ Hawkeye, การใช้กรงเล็บของ Black panter และศิลปะการต่อสู้ของ Black Widow </p>

        <img class="detail-img" src="~/image/Read/Blog/ComebackOfMovieIndustry/9_Black widow.jpg" />

        <p>นอกจากนี้ยังมีตัวละครที่น่าสนใจอย่าง The Red Guardians รับบทโดย David Hardour ที่เคยฝากผลงานในซีรีย์อย่าง Stranger things และตัวละครอีกตัวอย่าง Melina Vostokoff รับบทโดย Rachel weisz ซึ่งเราน่าจะคุ้นหน้าคุ้นตาเธอในหนังเรื่อง The Mummy ทั้งภาค 1 และ 2</p>

        <p class="detail-text-bold"> Mulan </p>

        <img class="detail-img" src="~/image/Read/Blog/ComebackOfMovieIndustry/10_Mulan.jpg" />

        <p>และเรื่องสุดท้ายที่เราอยากจะแนะนำกับเรื่อง Mulan เจ้าหญิงจากค่าย Walt Disney </p>

        <p>ตัวละคร Mulan เป็นตัวละครแนวเจ้าหญิงคนเดียวใน Walt Disney ที่เป็นสามัญชน ซึ่งเนื้อเรื่องในการ์ตูน เป็นเรื่องราวของสาวน้อยนามว่ามู่หลาน ที่ต้องเข้าร่วมกองทัพแทนพ่อของเธอที่แก่ชรา เพราะความเป็นสตรีของเธอทำให้ต้องปลอมตัวเป็นผู้ชายเพื่อที่จะปกปิดความลับของตัวเอง และด้วยความสามารถของเธอทำให้ชนะศึกต่างๆมาได้ตลอด ทำให้เป็นเกียรติแก่วงศ์ตระกูลและประเทศชาติ</p>

        <img class="detail-img" src="~/image/Read/Blog/ComebackOfMovieIndustry/11_Mulan.jpg" />

        <p>จุดสนใจของภาพยนตร์เรื่อง Mulan เรื่องนี้ คือตัวละคร Mulan ที่รับบทโดย Yifei Liu นักแสดงสาวชาวจีนสุดฮอต ที่มีผลงานล่าสุดอย่าง Hanson and the Beast หรือ บทเซียวเหล่งนึ่งในมังกรหยกภาคสอง ส่วนผู้กำกับก็ได้ Niki Caro เคยกำกับหนังล่าสุดอย่าง The Zookeeper's Wife ฝ่าสงคราม กรงสมรภูมิ ซึ่งเป็นภาพยนตร์ดราม่าที่อิงจากเรื่องจริงอีกด้วย</p>

        <p>นอกจากนี้เนื้อเรื่องในภาพยนตร์ได้มีการดัดแปลงให้มีความจริงจังมากขึ้นและได้รวบรวมวัฒนธรรมหลายๆสมัยในจีนเข้าไว้ด้วยกัน ซึ่งจะเห็นได้จากคอสตูมการแต่งกายของตัวละครและฉากบ้านเรือนต่างๆในเรื่อง</p>

        <img class="detail-img" src="~/image/Read/Blog/ComebackOfMovieIndustry/12_Mulan.jpg" />

        <p>ในส่วนของตัวละคร ฝั่งตัวร้ายได้มีการดัดแปลงจากฮานที่เคยเป็นตัวละครตัวร้ายในฉบับการ์ตูน ในฉบับภาพยนตร์ได้ปรับเปลี่ยนและเพิ่มตัวละครอย่าง Xianniang ที่รับบทโดย Li Gong จากในตัวอย่างหนังดูเธอเหมือจะมีเวทย์มนต์ในการแปลงร่างและดูคล้ายๆเป็นแม่มด และ Bori Khan ที่รับบทโดย Jason Scott Lee เป็นหัวหน้ากลุ่มรุกรานทางเหนือ</p>

        <img class="detail-img" src="~/image/Read/Blog/ComebackOfMovieIndustry/13_Mulan.jpg" />

        <p>ตัวเอกของเรื่องอย่างนายพลลีชางในฉบับการ์ตูน ฉบับภาพยนตร์ได้ถูกดัดแปลงและเปลี่ยนเป็น Honghui รับบทโดย Yoson An ซึ่งเป็นรักครั้งใหม่และเพื่อนในกองทัพของมู่หลาน และมีการเพิ่มนายพล Tung ซึ่งรับบทโดย Donnie Yen ซึ่งเคยมีผลงานดังอย่าง Ip Man ภาค 1 ถึง 4 ในบทอาจารย์ยิป !</p>

        <p>เราไม่รู้ว่าตัวเนื้อหาจะถูกดัดแปลง และเปลี่ยนทิศทางของหนังไปมากน้อยแค่ไหน ซึ่งเพื่อนๆ อาจจะต้องรอติดตามดูในโรงภาพยนตร์หรือทาง Disney+ ครับผม</p>

        <p>หนังทั้ง 3 เรื่องที่เราแนะนำ อาจเป็นสัญญาณเตือนกับผู้ชมอย่างเราถึงทิศทางของอุตสาหกรรมหนังว่าจะกลับมาคึกคักอีกครั้งได้หรือไม่ หากเป็นไปตามกำหนดการฉายของหนังทั้ง 3 เรื่อง Wonder Woman 1984 จะมีกำหนดฉายวันที่ 2 ต.ค. 2020, Black Widow วันที่ 28 ต.ค. 2020 และ Mulan ที่ล่าสุด Walt Disney ได้วางกำหนดฉายวันที่ 4 กันยายน 2020 ฉายพร้อมกันกับทาง Disney+ สามารถติดตามข่าวสารความเคลื่อนไหวของหนังได้ทั้ง SF และ Major ในเครือทุกสาขา</p>

        <p>สุดท้ายนี้เราเองก็อยากรู้ว่าเพื่อนๆ อยากดูเรื่องไหนมากที่สุดใน 3 เรื่องนี้กันนะ ? คอมเมนต์เข้ามากันเยอะๆได้เลย!</p>

        <p>ฝากกดไลค์ กดแชร์ กดติดตาม เพจ Miraii ด้วยนะ เพื่อไม่ให้พลาดหลากคอนเทนต์ดีๆและเป็นกำลังใจให้พวกเราด้วยนะครับ</p>
    </div>

    <!--========================== Share Button =====================================-->
    <br />
    <div align="center">
        <div class="fb-share-button" data-href="https://miraii.space/Blog/ComebackOfMovieIndustry" data-layout="button_count" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmiraii.space%2FBlog%2FComebackOfMovieIndustry&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore"> Share </a></div>
    </div>
    <br />
    <br />

    <!--============================ Author's Thumbnail ===================================-->

    <div class="container bg-light">
        <div class="row">
            <div class="col-md" style="max-width:580px">
                <img class="author-img" src="~/image/Read/Author_img/Dew's profile.jpg">
            </div>
            <div class="col-md author-detail author-box-text">
                <p class="author-head-text">Author Info</p>
                <p> <strong> Author </strong> : ลุงโจนาธาน </p>
                <p>
                    <strong> Style </strong> :
                    <a asp-controller="Blog" asp-action="Index"> Culture, </a>
                    <a asp-controller="Review" asp-action="Index"> Entertainment, </a>
                    <a asp-controller="Review" asp-action="Index"> Book </a>
                </p>
                <address>
                    <strong> Contact </strong> :
                    <a class="author-socail-icon" href="https://www.facebook.com/Jonathan-%E0%B8%A5%E0%B8%B8%E0%B8%87%E0%B9%82%E0%B8%88%E0%B8%99%E0%B8%B2%E0%B8%98%E0%B8%B2%E0%B8%99-110987617373496/"><i class="fab fa-facebook-square"></i> , </a>
                    <a href="https://www.blockdit.com/pages/5f22884aed8f430cc23fb1aa"> Blockdit</a>
                </address>
                <p>
                    เป็นลุง Content Creator คนหนึ่งที่สนใจใน Pop culture
                    และเชื่อว่าผลงานศิลปะทุกประเภทล้วนแล้วมี Culture อยู่ในนั้น
                </p>
            </div>
        </div>
    </div>

    <br />

    <!--========================== Facebook Comment Plugin ======================-->
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="card my-4 embed-responsive">
                    <h5 class="card-header display-6 bg-maincolor main-font ">Comment</h5>
                    <div class="card-body">
                        <div class="fb-comments" data-href="https://miraii.space/Blog/ProjectPowerNetflix" data-width="480" data-numposts="3"></div>
                    </div>
                </div>
            </div>

            <!--========================== You May Also Like ? ======================-->
            <div class="col-lg-6">
                <div class="card my-4 embed-responsive">
                    <h5 class="card-header display-6 bg-maincolor main-font ">You may also like ?</h5>
                    <div class="card-body">

                        @foreach (var item in Model.ContentInfo)
                        {
                            <hr />
                            <a class="also-head-text" asp-area="" asp-controller="@item.Controller" asp-action="@item.Action">
                                <img class="also-img" src="@Url.Content(item.ContentLocation)">
                            </a>
                            <hr />
                            <a class="also-head-text" asp-area="" asp-controller="@item.Controller" asp-action="Index">
                                @item.ContentName
                            </a>
                            <br />
                            <a class="also-category" asp-area="" asp-controller="@item.Controller" asp-action="index">
                                @item.ContentCategory
                            </a>
                            <div class="row">
                                <div class="col text-left">  <p class="also-credit"> Author : @item.ContentWriter </p> </div>
                                <div class="col text-right"> <p class="also-credit"> @item.ContentDate </p></div>
                                <br />
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--================ Banner =======================-->
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary">For Ads</strong>
                        <h3 class="mb-0 display-6">Advertising</h3>
                        <div class="mb-1 text-muted">?????</div>
                        <p class="card-text mb-auto">?????</p>
                        <a href="#" class="stretched-link">miraii.team@gmail.com</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">

                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-success">For Ads</strong>
                        <h3 class="mb-0 display-6">Advertising</h3>
                        <div class="mb-1 text-muted">?????</div>
                        <p class="mb-auto">?????</p>
                        <a href="#" class="stretched-link">miraii.team@gmail.com</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">

                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
