@{
    ViewData["Title"] = "";
    Layout = "~/Views/Shared/_Layout _Read.cshtml";
    ViewData["image"] = "";
}

<head>
    <link href="~/css/css_article.css" rel="stylesheet" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-175459266-1"></script>
    <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'UA-175459266-1');
    </script>
</head>

<body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v8.0&appId=718174878568237&autoLogAppEvents=1" nonce="TLuLUqId"></script>

    <!--=========================== Head & Name ==================================-->
    <img class="head-img" src="">
    <div class="container space">
        <p class="top-title"> </p>

        <!--Credit-->
        <div class="row">
            <div class="col text-left">
                <br />
                <p class="top-credit">Author&nbsp; :  </p>
                <p class="top-credit">Editor&nbsp; :  </p>
                <p class="top-credit">Date&nbsp;&nbsp;&nbsp;&nbsp;: - - </p>
            </div>

            <div class="col text-right">
                <ul id="force-sameLine" class="top-credit">
                    <li><i class="far fa-eye"></i> &nbsp; </li>
                    <li>
                        <a style="color:white; letter-spacing: -1px;" href='https://www.free-counters.org/'>free-Counters.org</a>
                        <script type='text/javascript' src='https://www.freevisitorcounters.com/auth.php?id=b2a36840a7d9e97e80a4527da53f22ff8e135b11'></script>
                        <script type="text/javascript" src="https://www.freevisitorcounters.com/en/home/counter/738910/t/3"></script>
                    </li>
                    <br />
                    <div class="fb-share-button " data-href="https://miraii.space/Blog/ProjectPowerNetflix" data-layout="button_count" data-size="large">
                        <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmiraii.space%2FBlog%2FProjectPowerNetflix&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a>
                    </div>
                </ul>
            </div><!--style="color:white; letter-spacing: -1px;"-->
            <br />
        </div>
        <hr>
        <br>
    </div>

    <!--========================== Detail =======================================-->
    <div class="container space">

        <p class="detail-text-bold"> </p>

        <img class="detail-img" src="" />

        <p></p>

    </div>

    <!--========================== Share Button =====================================-->
    <br />
    <div align="center">
        <div class="fb-share-button " data-href="https://miraii.space/Blog/ProjectPowerNetflix" data-layout="button_count" data-size="large">
            <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmiraii.space%2FBlog%2FProjectPowerNetflix&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a>
        </div>
    </div>
    <br />
    <br />

    <!--============================ Author's Thumbnail ===================================-->

    <div class="container bg-light">
        <div class="row">
            <div class="col-md" style="max-width:580px">
                <img class="author-img" src="~/image/Read/Author_img/Dew's profile.jpg">
            </div>
            <div class="col-md author-detail author-box-text">
                <p class="author-head-text">Author Info</p>
                <p> <strong> Author </strong> : ลุงโจนาธาน </p>
                <p>
                    <strong> Style </strong> :
                    <a asp-controller="Blog" asp-action="Index"> Culture, </a>
                    <a asp-controller="Review" asp-action="Index"> Entertainment, </a>
                    <a asp-controller="Review" asp-action="Index"> Book </a>
                </p>
                <address>
                    <strong> Contact </strong> :
                    <a class="author-socail-icon" href="https://www.facebook.com/Jonathan-%E0%B8%A5%E0%B8%B8%E0%B8%87%E0%B9%82%E0%B8%88%E0%B8%99%E0%B8%B2%E0%B8%98%E0%B8%B2%E0%B8%99-110987617373496/"><i class="fab fa-facebook-square"></i> , </a>
                    <a href="https://www.blockdit.com/pages/5f22884aed8f430cc23fb1aa"> Blockdit</a>
                </address>
                <p>
                    เป็นลุง Content Creator คนหนึ่งที่สนใจใน Pop culture
                    และเชื่อว่าผลงานศิลปะทุกประเภทล้วนแล้วมี Culture อยู่ในนั้น
                </p>
            </div>
        </div>
    </div>

    <br />

    <!--========================== Facebook Comment Plugin ======================-->
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="card my-4 embed-responsive">
                    <h5 class="card-header display-6 bg-maincolor main-font ">Comment</h5>
                    <div class="card-body">
                        <div class="fb-comments" data-href="https://miraii.space/Blog/ProjectPowerNetflix" data-width="480" data-numposts="3"></div>
                    </div>
                </div>
            </div>


            <!--========================== You May Also Like ? ======================-->
            <div class="col-lg-6">
                <div class="card my-4 embed-responsive">
                    <h5 class="card-header display-6 bg-maincolor main-font ">You may also like ?</h5>
                    <div class="card-body">

                        @foreach (var item in Model.ContentInfo)
                        {
                            <hr />
                            <a class="also-head-text" asp-area="" asp-controller="@item.Controller" asp-action="@item.Action">
                                <img class="also-img" src="@Url.Content(item.ContentLocation)">
                            </a>
                            <hr />
                            <a class="also-head-text" asp-area="" asp-controller="@item.Controller" asp-action="Index">
                                @item.ContentName
                            </a>
                            <br />
                            <a class="also-category" asp-area="" asp-controller="@item.Controller" asp-action="index">
                                @item.ContentCategory
                            </a>
                            <div class="row">
                                <div class="col text-left">  <p class="also-credit"> Author : @item.ContentWriter </p> </div>
                                <div class="col text-right"> <p class="also-credit"> @item.ContentDate </p></div>
                                <br />
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--================ Banner =======================-->
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary">For Ads</strong>
                        <h3 class="mb-0 display-6">Advertising</h3>
                        <div class="mb-1 text-muted">?????</div>
                        <p class="card-text mb-auto">?????</p>
                        <a href="#" class="stretched-link">miraii.team@gmail.com</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">

                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-success">For Ads</strong>
                        <h3 class="mb-0 display-6">Advertising</h3>
                        <div class="mb-1 text-muted">?????</div>
                        <p class="mb-auto">?????</p>
                        <a href="#" class="stretched-link">miraii.team@gmail.com</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">

                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
