@{
    ViewData["Title"] = "เตรียมดาบในมือให้พร้อมก่อนดู Kimetsu no yaiba : Muget train ดาบพิฆาตอสูร ศึกรถไฟสู่นิรันดร์";
    Layout = "~/Views/Shared/_Layout _Read.cshtml";
    ViewData["image"] = "https://miraii.space/image/Read/Blog/Kimetsu no_mugen/0_Kimetsu no Yaiba Muget train.jpg";
}

<head>
    <link href="~/css/css_article.css" rel="stylesheet" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-175459266-1"></script>
    <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'UA-175459266-1');
    </script>
</head>

<body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v8.0&appId=718174878568237&autoLogAppEvents=1" nonce="TLuLUqId"></script>

    <!--=========================== Head & Name ==================================-->
    <img class="head-img" src="~/image/Read/Blog/Kimetsu no_mugen/0_Kimetsu no Yaiba Muget train.jpg" />
    <div class="container space">
        <p class="top-title"> เตรียมดาบในมือให้พร้อมก่อนดู Kimetsu no yaiba : Muget train ดาบพิฆาตอสูร ศึกรถไฟสู่นิรันดร์  </p>

        <!--Credit-->
        <div class="row">
            <div class="col text-left">
                <br />
                <p class="top-credit">Author&nbsp; : ลุงโจนาธาน </p>
                <p class="top-credit">Editor&nbsp; : Alaska </p>
                <p class="top-credit">Date&nbsp;&nbsp;&nbsp;&nbsp;: 2020-09-26 </p>
            </div>

            <div class="col text-right">
                <ul id="force-sameLine" class="top-credit">
                    <li><i class="far fa-eye"></i> &nbsp; </li>
                    <li>
                        <a style="color:white; letter-spacing: -1px;" href='https://www.symptoma.es/es/info/covid-19'>Preguntas y Respuestas COVID-19</a>
                        <script type='text/javascript' src='https://www.freevisitorcounters.com/auth.php?id=fa48782a16d9cbedfd78a7d625f2b2728587b207'></script>
                        <script type="text/javascript" src="https://www.freevisitorcounters.com/en/home/counter/748764/t/3"></script>
                    </li>
                    <br />
                    <div class="fb-share-button" data-href="https://miraii.space/blog/Kimetsunoyaibataisho" data-layout="button_count" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmiraii.space%2Fblog%2FKimetsunoyaibataisho&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore"> Share </a></div>
                </ul>
            </div><!--style="color:white; letter-spacing: -1px;"-->
            <br />
        </div>
        <hr>
        <br>
    </div>

    <!--========================== Detail =======================================-->
    <div class="container space">

        <img class="detail-img" src="~/image/Read/Blog/Kimetsu no_mugen/1_Kimetsu no Yaiba Muget train.jpg" />

        <p>ในปลายปีที่จะถึงนี้  Kimetsu no Yaiba กำลังจะมีภาพยนตร์เป็นของตัวเองในชื่อภาค Muget train ศึกรถไฟสู่นิรันดร์ ซึ่งจะเป็นการดำเนินเรื่องต่อจากเวอร์ชั่นการ์ตูนทีวีซีรีส์ แต่ก่อนอื่นเพื่อให้ทุกคนได้รู้จักดาบพิฆาตอสูรมากขึ้นสักนิด เราจึงอยากจะเล่าถึงความเป็นมาและความน่าสนใจของการ์ตูนเรื่องนี้ก่อนที่จะดังแบบพลุแตกในช่วงปีที่ผ่านมา !</p>

        <img class="detail-img" src="~/image/Read/Blog/Kimetsu no_mugen/2_Kimetsu no Yaiba Muget train.jpg" />

        <p>Kimetsu na Yaiba เป็นผลงานมังงะที่ตีพิมพ์ลงในนิตยสารรายสัปดาห์ Shonen Jump ของสำนักพิมพ์ Shueisha ที่เขียนโดยอาจารย์ Koyoharu Gotoge โดยเริ่มตีพิมพ์เมื่อวันที่ 15 กุมภาพันธ์ 2016 และสิ้นสุดการตีพิมพ์ไปเมื่อวันที่ 18 พฤษภาคม 2020 รวมเป็นระยะเวลา 4 ปีกับ 3 เดือน จำนวนตอนทั้งหมด 205 ตอนด้วยกัน</p>

        <img class="detail-img" src="~/image/Read/Blog/Kimetsu no_mugen/3_Kimetsu no Yaiba Muget train.jpg" />

        <p>เนื้อเรื่องเกิดในญี่ปุ่นช่วงยุคไทโช (หากใครสนใจประวัติศาสตร์ญี่ปุ่นในยุคไทโชสามารถติดตามอ่านบทความเก่าๆของเราได้ที่นี่ <a class="link-text" href="https://miraii.space/Blog/Kimetsunoyaibataisho"> Kimetsu no yaiba กับยุคไทโช ยุคที่ประชาธิปไตยเบ่งบาน และนำมาซึ่งโศกนาฏกรรมต่างๆ </a>  )  เนื้อเรื่องจะเล่าถึงเด็กหนุ่มชนบทที่ชื่อ ทันจิโร่ ที่อยู่มาวันหนึ่งครอบครัวของเขาต้องถูกฆ่าตายด้วยน้ำมือของอสูรร้าย มิหนำซ้ำน้องสาวที่เป็นที่รักที่ชื่อ เนซึโกะ ต้องกลายมาเป็นอสูรเสียอย่างนั้น ทำให้ทันจิโร่ต้องมาเป็นหน่วยพิฆาตอสูร ออกตามหาวิธีที่จะทำให้น้องสาวของตนกลับมาเป็นมนุษย์อีกครั้ง</p>

        <img class="detail-img" src="~/image/Read/Blog/Kimetsu no_mugen/4_Kimetsu no Yaiba Muget train.png" />

        <p>ซึ่งในช่วงแรกที่มังงะเรื่องนี้ตีพิมพ์ได้รับเสียงวิพากษ์วิจารณ์ในแง่ลบเยอะมาก ดูเป็นการ์ตูนดาดๆทั่วไปจนมีคนบอกว่าเรื่องนี้อาจจะต้องโดนตัดจบอีกไม่นาน จนกระทั่งในปี 2019 สิ่งที่ไม่คาดคิดก็เกิดขึ้น มังงะเรื่องนี้สามารถทำลายสถิติยอดขายขึ้นมาเป็นอันดับ 1 ชนะแชมป์เก่ารุ่นพี่ 11 สมัยอย่าง One Piece ได้สำเร็จ ?!</p>

        <img class="detail-img" src="~/image/Read/Blog/Kimetsu no_mugen/5_Kimetsu no Yaiba Muget train.jpg" />

        <p>Animate Time เว็บไซต์ข้อมูลข่าวสารร้านค้าอนิเมะได้ทำการสำรวจเหตุผลว่าทำไม Kimetsu no Yaiba จึงมีความสนุกและน่าสนใจได้ถึงขนาดนี้ ? ซึ่งจากกราฟจะเห็นได้ว่าปัจจัยความฮอตฮิตของการ์ตูนเรื่องนี้อันดับ 1 คือ เรื่องของตัวละคร 80.7% รองลงมาอันดับ 2 คือ เนื้อเรื่อง 72.8% ตามมาด้วย มุมมองโลก 57.9% และเซ็ตติ้งอีกถึง 48.4% </p>

        <img class="detail-img" src="~/image/Read/Blog/Kimetsu no_mugen/6_Kimetsu no Yaiba Muget train.jpg" />

        <p>Kimetsu no Yaiba มีจุดเด่นในเรื่องของตัวละครที่มีการออกแบบให้มีเอกลักษณ์และมีสเน่ห์ร่วมสมัยเข้าใจง่าย มีธีมพื้นเพของเรื่องที่น่าสนใจ ในส่วนของเนื้อเรื่องเองก็มีการดำเนินเนื้อเรื่องได้อย่างเหมาะสม ไม่ยืดเยื้อ ตื่นเต้นและมีการเล่าถึง Flashback ของตัวละครทั้งฝั่งหน่วยพิฆาตอสูรและตัวอสูรเองอีกด้วย นำเสนอความดีความชั่วได้อย่างลงตัว แถมโปรดักชั่นทางฝั่งอนิเมะก็เรียกได้ว่าขึ้นหิ้งระดับ 5 ดาว</p>

        <img class="detail-img" src="~/image/Read/Blog/Kimetsu no_mugen/7_Kimetsu no Yaiba Muget train.jpg" />

        <img class="detail-img" src="~/image/Read/Blog/Kimetsu no_mugen/8_Kimetsu no Yaiba Muget train.jpg" />

        <img class="detail-img" src="~/image/Read/Blog/Kimetsu no_mugen/9_Kimetsu no Yaiba Muget train.jpg" />

        <p>นอกจากนี้ยังมีสินค้าต่างๆ ที่ได้ Colab กับ Kimetsu no Yaiba ไม่ว่าจะเป็นของเล่นเด็กไปจนถึงของเครื่องใช้ส่วนตัวต่างๆมากมายให้แฟนๆได้สะสม เป็นสิ่งตอกย้ำและการันตีความสำเร็จของการ์ตูนเรื่องนี้ได้เป็นอย่างดี </p>

        <img class="detail-img" src="~/image/Read/Blog/Kimetsu no_mugen/10_Kimetsu no Yaiba Muget train.gif" />

        <p>ในส่วนของ Kimetsu no Yaiba : Muget train ดาบพิฆาตอสูร ภาคศึกรถไฟสู่นิรันดร์ ซึ่งเป็นเนื้อเรื่องต่อจากซีซัน 1 ในฉบับอนิเมะนั้น เป็นเรื่องราวหลังจากทันจิโร่และเหล่าพองเพื่อนพักรักษาตัวจนหายที่หน่วยพิฆาตอสูร พวกเขาต้องออกเดินทางเพื่อตามหาเบาะแสเกี่ยวกับการหายตัวไปของผู้โดยสารในรถไฟซึ่งมีเสาหลักเพลิงอย่าง Rengoko เดินทางไปด้วย </p>

        <p>ตัวภาพยนตร์ยังได้ทีมสร้างอนิเมะจากค่าย Ufotable ที่เคยฝากผลงานภาพยนตร์อนิเมชั่น Fate/stay night: Unlimited Blade Works และ Fate/Zero มาร่วมสร้างสรรค์ความมันส์อีกด้วย</p>

        <p>สามารถรับชมได้ในโรงภาพยนตร์บ้านเราทั้งในเครือ SF และ Major ทุกสาขาในวันที่ 9 ธันวาคม 2020 ที่จะถึงนี้ !</p>

        <p>ก่อนจากกันเราอยากรู้ว่าเพื่อนๆชอบอะไรในเรื่อง Kimetsu no Yaiba ดาบพิฆาตอสูรกันบ้างเอ่ย มาเล่ากันได้ในคอมเมนต์ด้านล่างนี้ได้เลยนะครับทุกคน! </p>

        <p class="detail-text-bold"> อ้างอิงรูปภาพ </p>

        <ul>
            <li>
                <a class="link-text" href="https://www.google.com/url?sa=i&url=https%3A%2F%2Ftwitter.com%2Fpridefuisin%2Fstatus%2F1186024859874271232&psig=AOvVaw3xbXvWvQPNKppaofIsUrzF&ust=1599634184763000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCOjDi-_72OsCFQAAAAAdAAAAABBW">
                    Twitter account "𝑷𝒓𝒊𝒅𝒆𝒇𝒖𝒍 𝑺𝒊𝒏"
                </a>
            </li>
            <li>
                <a class="link-text" href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.e-muse.com.tw%2Fnode%2F712&psig=AOvVaw3hftnvS09dIzeRuFcDKh91&ust=1599635716900000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCJjwuceB2esCFQAAAAAdAAAAABAf">
                    e-muse
                </a>
            </li>
            <li>
                <a class="link-text" href="https://www.online-station.net/anime/view/163324">
                    online-station 1
                </a> /
                <a class="link-text" href="https://www.online-station.net/anime/view/157442">
                    2
                </a> /
                <a class="link-text" href="https://www.online-station.net/anime/view/172704">
                    3
                </a> /
                <a class="link-text" href="https://www.online-station.net/anime/view/163786">
                    4
                </a>
            <li>
                <a class="link-text" href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwikwiw.com%2Fnews%2F2020%2F04%2F11%2Fkimetsu-no-yaiba-the-movie-mugen-train%2F&psig=AOvVaw1ppxtC7mce1icgdOnzAm2x&ust=1599640458096000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCNiAzJ6T2esCFQAAAAAdAAAAABAN">
                    Wikwiw
                </a>
            </li>
            <li>
                <a class="link-text" href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.108novel.com%2Fall-articles%2Farticles%2Fbook-world%2Fkimetsu-no-yaiba-ending-205.html&psig=AOvVaw0PQXMWxsdRLpH4oKV7BqGS&ust=1599641194661000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCODV4fuV2esCFQAAAAAdAAAAABAO">
                    108novel
                </a>
            </li>
            <li>
                <a class="link-text" href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fpradt.co%2Fkimetsu-no-yaiba&psig=AOvVaw0qNV-ydS16wDw2w7gsyBJi&ust=1599645476281000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCJCH8val2esCFQAAAAAdAAAAABAD">
                    PRADT
                </a>
            </li>
            <li >
                <a class="link-text" href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.tumblr.com%2Ftagged%2Fumai&psig=AOvVaw00eMSuLKemkAMaCFfNrtXj&ust=1599645983786000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCPj-uOmn2esCFQAAAAAdAAAAABAZ">
                    tumblr
                </a>
            </li>
        </ul>

    </div>

    <!--========================== Share Button =====================================-->
    <br />
    <div align="center">
        <div class="fb-share-button" data-href="https://miraii.space/blog/Kimetsunoyaibataisho" data-layout="button_count" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmiraii.space%2Fblog%2FKimetsunoyaibataisho&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore"> Share </a></div> </ul>
    </div>
    <br />
    <br />

    <!--============================ Author's Thumbnail ===================================-->

    <div class="container bg-light">
        <div class="row">
            <div class="col-md" style="max-width:580px">
                <img class="author-img" src="~/image/Read/Author_img/Dew's profile.jpg">
            </div>
            <div class="col-md author-detail author-box-text">
                <p class="author-head-text">Author Info</p>
                <p> <strong> Author </strong> : ลุงโจนาธาน </p>
                <p>
                    <strong> Style </strong> :
                    <a asp-controller="Blog" asp-action="Index"> Culture, </a>
                    <a asp-controller="Review" asp-action="Index"> Entertainment, </a>
                    <a asp-controller="Review" asp-action="Index"> Book </a>
                </p>
                <address>
                    <strong> Contact </strong> :
                    <a class="author-socail-icon" href="https://www.facebook.com/Jonathan-%E0%B8%A5%E0%B8%B8%E0%B8%87%E0%B9%82%E0%B8%88%E0%B8%99%E0%B8%B2%E0%B8%98%E0%B8%B2%E0%B8%99-110987617373496/"><i class="fab fa-facebook-square"></i> , </a>
                    <a href="https://www.blockdit.com/pages/5f22884aed8f430cc23fb1aa"> Blockdit</a>
                </address>
                <p>
                    เป็นลุง Content Creator คนหนึ่งที่สนใจใน Pop culture
                    และเชื่อว่าผลงานศิลปะทุกประเภทล้วนแล้วมี Culture อยู่ในนั้น
                </p>
            </div>
        </div>
    </div>

    <br />

    <!--========================== Facebook Comment Plugin ======================-->
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="card my-4 embed-responsive">
                    <h5 class="card-header display-6 bg-maincolor main-font ">Comment</h5>
                    <div class="card-body">
                        <div class="fb-comments" data-href="https://miraii.space/Blog/ProjectPowerNetflix" data-width="480" data-numposts="3"></div>
                    </div>
                </div>
            </div>


            <!--========================== You May Also Like ? ======================-->
            <div class="col-lg-6">
                <div class="card my-4 embed-responsive">
                    <h5 class="card-header display-6 bg-maincolor main-font ">You may also like ?</h5>
                    <div class="card-body">

                        @foreach (var item in Model.ContentInfo)
                        {
                            <hr />
                            <a class="also-head-text" asp-area="" asp-controller="@item.Controller" asp-action="@item.Action">
                                <img class="also-img" src="@Url.Content(item.ContentLocation)">
                            </a>
                            <hr />
                            <a class="also-head-text" asp-area="" asp-controller="@item.Controller" asp-action="Index">
                                @item.ContentName
                            </a>
                            <br />
                            <a class="also-category" asp-area="" asp-controller="@item.Controller" asp-action="index">
                                @item.ContentCategory
                            </a>
                            <div class="row">
                                <div class="col text-left">  <p class="also-credit"> Author : @item.ContentWriter </p> </div>
                                <div class="col text-right"> <p class="also-credit"> @item.ContentDate </p></div>
                                <br />
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--================ Banner =======================-->
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary">For Ads</strong>
                        <h3 class="mb-0 display-6">Advertising</h3>
                        <div class="mb-1 text-muted">?????</div>
                        <p class="card-text mb-auto">?????</p>
                        <a href="#" class="stretched-link">miraii.team@gmail.com</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">

                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-success">For Ads</strong>
                        <h3 class="mb-0 display-6">Advertising</h3>
                        <div class="mb-1 text-muted">?????</div>
                        <p class="mb-auto">?????</p>
                        <a href="#" class="stretched-link">miraii.team@gmail.com</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">

                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
