@{
    ViewData["Title"] = "Kimetsu no yaiba กับยุคไทโช โศกนาฏกรรม​จากประชาธิปไตยที่เบ่งบาน";
    Layout = "~/Views/Shared/_Layout _Read.cshtml";
    ViewData["image"] = "https://miraii.space/image/Read/Blog/Kimetsu no_Taisho/0_Kimetsu no yaiba x Taisho.jpg";
}

<head>
    <link href="~/css/css_article.css" rel="stylesheet" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-175459266-1"></script>
    <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

            gtag('config', 'UA-175459266-1');
    </script>
</head>

<body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v8.0&appId=718174878568237&autoLogAppEvents=1" nonce="TLuLUqId"></script>

    <!--=========================== Head & Name ==================================-->
    <img class="head-img" src="~/image/Read/Blog/Kimetsu no_Taisho/0_Kimetsu no yaiba x Taisho.jpg">
    <div class="container space">
        <p class="top-title"> Kimetsu no yaiba กับยุคไทโช โศกนาฏกรรม​จากประชาธิปไตยที่เบ่งบาน </p>

        <!--Credit-->
        <div class="row">
            <div class="col text-left">
                <br />
                <p class="top-credit">Author&nbsp; : ลุงโจนาธาน </p>
                <p class="top-credit">Editor&nbsp; : Alaska, More Jor </p>
                <p class="top-credit">Date&nbsp;&nbsp;&nbsp;&nbsp;: 2020-09-12 </p>
            </div>

            <div class="col text-right">
                <ul id="force-sameLine" class="top-credit">
                    <li><i class="far fa-eye"></i> &nbsp; </li>
                    <li>
                        <a style="color:white; letter-spacing: -1px;" href='https://www.symptoma.sk/sk/info/covid-19#info'>Koronavírusy</a>
                        <script type='text/javascript' src='https://www.freevisitorcounters.com/auth.php?id=a127b9a939d3860594703748f1cc317469c5cf7b'></script>
                        <script type="text/javascript" src="https://www.freevisitorcounters.com/en/home/counter/744215/t/3"></script>
                    </li>
                    <br />
                    <div class="fb-share-button" data-href="https://miraii.space/blog/Kimetsunoyaibataisho" data-layout="button_count" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmiraii.space%2Fblog%2FKimetsunoyaibataisho&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore"> Share </a></div>
                </ul>
            </div><!--style="color:white; letter-spacing: -1px;"-->
            <br />
        </div>
        <hr>
        <br>
    </div>

    <!--========================== Detail =======================================-->
    <div class="container space">



        <img class="detail-img" src="~/image/Read/Blog/Kimetsu no_Taisho/600x315.jpg" />

        <p>ถ้าพูดถึงมังงะที่อิงวัฒนธรรม​เก่าแก่ของญี่ปุ่น เชื่อว่าคนส่วนใหญ่มักนึกถึง อินุยาฉะเทพอสูรจิ้งจอกเงิน, ซามูไรพเนจรเคนชิน, เคียวนัยน์ตายักษ์ ฯลฯ ซึ่งดูเหมือนว่าการ์ตูนที่มีกระแสดีและติดลมบนสุดๆในช่วงนี้อย่าง  Kimetsu no yaiba เองก็ถือว่าเป็นหนึ่งในลิสต์มังงะเหล่านั้นเช่นกัน โดยอาจารย์โคโยฮารุ โกโตเกะ เจ้าของผลงานเรื่องนี้ได้รับแรงบันดาลใจจากยุคไทโช ที่มีแนวคิดประชาธิปไตยและเสรีนิยมเบ่งบานที่สุดในทุก ๆ ยุคสมัย ทว่าท่ามกลางบรรยากาศแห่งเสรีภาพ น้อยคนนักจะรู้ว่า นี่เป็นยุคเดียวกันกับยุคแรกเริ่มของลัทธิคลั่งชาติ ซึ่งนำมาสู่โศกนาฏกรรม​อย่างสงครามโลกครั้งที่ 2 ?!</p>

        <img class="detail-img" src="~/image/Read/Blog/Kimetsu no_Taisho/1_Kimetsu no yaiba x Taisho.jpg" />

        <p>
            ยุคไทโช เป็นยุคสมัยหนึ่งในญี่ปุ่นเกิดในช่วงปี ค.ศ. 1912-1926  (หรือพ.ศ.2455-2469 ในสมัยรัชกาลที่ 6) ปกครองโดยจักรพรรดิโยชิฮิโตะ เป็นระยะเวลาสั้น ๆ เพียง 14 ปี แต่นำมาซึ่งการเปลี่ยนแปลงพัฒนาอย่างรวดเร็ว ช่วงนั้นเป็นช่วงที่แนวคิดประชาธิปไตยและเสรีนิยมแพร่หลายมากในญี่ปุ่น แนวคิดนี้ถูกเรียกว่า ประชาธิปไตยยุคไทโช หรือ ไทโชเดโมเครซี เกิดขบวนการทางการเมืองเรียกว่า "ขบวนการป้องกันรัฐธรรมนูญ" หรือ โกะเค็นอุนโด เพื่อเป็นกระบอกเสียงให้กับประชาชน นำไปสู่การจัดตั้งรัฐบาลโดยพรรคการเมืองอย่างเต็มรูปแบบ ผู้หญิงเริ่มออกมาทำงานและผู้ชายเริ่มให้เกียรติผู้หญิงที่มีตำแหน่งงานสูงกว่า
        </p>

        <img class="detail-img" src="~/image/Read/Blog/Kimetsu no_Taisho/2_Kimetsu no yaiba x Taisho.jpg" />

        <p>ในตอนนั้น วัฒนธรรมตะวันตกเริ่มหลั่งไหลเข้ามาไม่ขาดสาย ผสมผสานกับเอกลักษณ์ของญี่ปุ่น จนเป็นพื้นฐานของคนญี่ปุ่นในปัจจุบัน เช่น วัฒนธรรมการกินแบบผสมผสานในข้าวแกงกะหรี่ โคร๊อกเกะ หรือทงคัตสึ</p>

        <img class="detail-img" src="~/image/Read/Blog/Kimetsu no_Taisho/3_Kimetsu no yaiba x Taisho.jpg" />

        <p>ในวัฒนธรรมการแต่งกายก็เช่นกัน ชุดที่นิยมมาก ๆ ในยุคนั้น จนนำมาเป็นยูนิฟอร์มให้กับนักเรียน และตัดเป็นชุดทำงานในหน่วยงานต่าง ๆ ก็มาจากการผสมวัฒนธรรม​ตะวันออกเข้ากับตะวันตก ซึ่งอิทธิพล​นี้ได้ถูกนำมาพัฒนาเป็นชุดของหน่วยพิฆาตอสูรใน Kimetsu no yaiba ด้วย </p>

        <img class="detail-img" src="~/image/Read/Blog/Kimetsu no_Taisho/4_Kimetsu no yaiba x Taisho.jpg" />

        <img class="detail-img" src="~/image/Read/Blog/Kimetsu no_Taisho/5_Kimetsu no yaiba x Taisho.jpg" />

        <p>
            ถ้าถามว่าอะไรเป็นสาเหตุให้ยุคไทโชพัฒนาอย่างรวดเร็ว ก็อาจเป็เพราะการที่ญี่ปุ่นต้องการพัฒนาให้ประเทศตนเองทัดเทียมชาวตะวันตก เพื่อแสดงให้เห็นว่า ญี่ปุ่นกระตือรือร้นในการนำประเทศไปสู่โลกยุคใหม่ ซึ่งทำให้เกิดการผสมผสานระหว่างวัฒนธรรมเก่าของญี่ปุ่นและวัฒนธรรมใหม่ของตะวันตก ทำให้ช่วงนั้นญี่ปุ่นกลายเป็นอีกประเทศมหาอำนาจของตะวันออก เมื่อรวมกับแรงสนับสนุนจากนโยบายของรัฐบาลญี่ปุ่นในยุคนั้น การสร้างการเปลี่ยนแปลงจึงสามารถเกิดขึ้นได้
        </p>

        <p>
            น่าเศร้า ที่เส้นทางของมหาอำนาจไม่ได้โรยด้วยกลีบกุหลาบ ด้วยพิษเศรษฐกิจที่เกิดจากสงครามโลกครั้งที่ 1 และความเหลื่อมล้ำที่เกิดขึ้นในสังคมญี่ปุ่น ทำให้ดอกไม้ประชาธิปไตยที่เคยเบ่งบานเริ่มส่งสัญญาณแห่งการร่วงโรย
        </p>

        <img class="detail-img" src="~/image/Read/Blog/Kimetsu no_Taisho/6_Kimetsu no yaiba x Taisho.jpg" />

        <p>แม้ว่าช่วงสงครามโลกครั้งที่ 1 (ปี ค.ศ.1914-1918) จะเป็นช่วงที่คนญี่ปุ่นจะมีฐานะความเป็นอยู่ที่ดี เนื่องจากการส่งออกอาวุธสงคราม แต่ช่องว่างระหว่างคนรวยและคนจนก็เพิ่มขึ้นอย่างเลี่ยงไม่ได้ ชาวนาในชนบทต้องย้ายมาทำงานในเมืองกันมากขึ้น และถูกใช้งานกันอย่างหนัก เช่น กำหนดให้หญิงและเด็กทำงานวันละ 11 ชั่วโมง โรงงานเองก็ยังเอาเปรียบให้สวัสดิการที่ต่ำกว่าที่รัฐบาลกำหนดให้ ซ้ำร้ายช่วงปี 1918 ประเทศญี่ปุ่นได้เกิดภาวะเงินเฟ้อรุนแรง จากการที่ชาวต่างชาติหันมาซื้อของญี่ปุ่นมากขึ้น ราคาสินค้าภายในประเทศจึงพุ่งขึ้นสูง รวมไปถึงข้าวที่เป็นอาหารมื้อหลักของคนญี่ปุ่น ทำให้แม่บ้านในญี่ปุ่นไม่พอใจจนออกมาประท้วงรัฐบาลในยุคนั้น ลามไปจนถึงการก่อจราจลโดยคนงานที่ไม่พอใจในค่าแรงและสวัสดิการ ตอนนั้นมีคนที่ร่วมก่อจราจลถึง 66,000 คน กินระยะเวลาถึง ค.ศ.1919</p>

        <img class="detail-img" src="~/image/Read/Blog/Kimetsu no_Taisho/7_Kimetsu no yaiba x Taisho.jpg" />

        <p>ในระหว่างนั้นสังคมญี่ปุ่นเองเกิดความแตกต่างกันมากในความคิดระหว่างจักรวรรดินิยม (หรือทหารนิยม) และเสรีนิยมที่ต้องการอยู่ร่วมกันทั้งทางด้านการเมืองและเศรษฐกิจระหว่างนานาชาติโดยสันติ ทำให้ศตวรรษที่ 1920 เกิดการฝักตัวเกิดขึ้นอย่างรวดเร็วของสมาคมผู้รักชาติและคลั่งชาติ (ประกอบด้วยพวกอนุรักษ์นิยมหรือพวกหัวเก่า และสมาคมพวกนักชาตินิยมรุนแรง) พวกเขามีเหตุผลที่หวั่นวิตกว่าเอกลักษณ์ของประเทศชาติจะเลือนหายไปเพราะวัฒนธรรมตะวันตกที่เข้ามา</p>

        <img class="detail-img" src="~/image/Read/Blog/Kimetsu no_Taisho/8_Kimetsu no yaiba x Taisho.jpg" />

        <p>พอหลังช่วงสงครามโลกครั้งที่ 1 จบไป รัฐบาลญี่ปุ่นก็ยังไม่สามารถแก้ไขปัญหาเงินเฟ้อภายในประเทศได้ ซึ่งช่วงปี ค.ศ. 1921-1929 แต่ละประเทศเองต้องเผชิญกับปัญหาเศรษฐกิจโลก พิษหลังจากสงคราม ทำให้ประเทศที่แพ้ต้องเสียค่าปรับจากสงครามที่ตัวเองก่อขึ้น ทำให้อุตสาหกรรมที่เคยเติมโตในญี่ปุ่นต้องหยุดชะงัก ธนาคารที่เคยปล่อยกู้ให้กับเจ้าของอุสาหกรรมต้องล้มละลายไปตาม ๆ กัน เกิดการว่างงาน และค่าครองชีพทีสูงขึ้น ทำให้ประชาชนต่างหมดศรัทธาในรัฐบาลญี่ปุ่นยุคนั้น และนั้นเป็นสาเหตุที่ทำให้พอปลายศตวรรษที่ 1920 จนถึงช่วงศตวรรษที่ 1930 กลุ่มลัทธิคลั่งชาติได้รับคะแนนความนิยมจากประชาชนและนำมาซึ่งการสลายตัวของแนวคิดเสรีนิยม หลังจากการสวรรคตของจักรพรรดิโยชิฮิโตะ ก็เริ่มเข้าสู่ยุคโชวะ และนำมาสู่สงครามมหาบูรพาและสงครามโลกครั้งที่ 2 จบด้วยโศกนาฏกรรมที่ทุกคนทั่วโลกและญี่ปุ่นจะไม่มีวันลืมอย่างการทิ้งระเบิดนิวเคลียร์ที่ฮิโรชิมะและนางาซากิ ซึ่งมีผู้เสียชีวิตรวมประมาณเกือบ 250,000 คน จนทำให้ประเทศญี่ปุ่นต้องออกมาประกาศยอมแพ้….</p>

        <img class="detail-img" src="~/image/Read/Blog/Kimetsu no_Taisho/9_Kimetsu no yaiba x Taisho.jpg" />

        <p>มาถึงตอนนี้ จะเห็นว่าสังคมญี่ปุ่นในยุคไทโชนั้นมีความไม่แน่นอนและสับสนเกิดขึ้นมากมาย สาเหตุหลัก ๆ ก็เกิดจากรัฐบาลที่ไม่มีประสิทธิภาพ ไม่สามารถออกนโยบายเพื่อแก้ไขปัญหาปากท้องจองประชาชนได้ เกิดช่องว่างระหว่างคนจนและคนรวย ทำให้ประชาชนต่างหมดศรัทธาในรัฐบาล ความคิดเห็นของประชาชนในตอนนั้นเองก็มีความแตกต่างกันมาก จนเกิดเป็นกลุ่มลัทธิคลั่งชาติที่ฝังตัวในระหว่างนั้น รวมไปถึงปัญหาเศรษฐกิจโลกครั้งใหญ่จากพิษหลังสงครามที่ทุกประเทศทั่วโลกต้องเจอ </p>

        <p>ถึงอย่างนั้น ยุคไทโชก็เป็นยุคที่แนวคิดในเรื่องประชาธิปไตยและเสรีนิยมเบ่งบานมากที่สุดในทุกยุคทุกสมัยของญี่ปุ่น จนเป็นพื้นฐานให้แก่คนญี่ปุ่นในปัจจุบัน ไม่แปลกใจเลยที่อาจารย์ โคโยฮารุ โกโตเกะ ผู้เขียน Kimetsu no Yaiba ดาบพิฆาตอสูรจะนำมาเป็นแรงบันดาลใจในการออกแบบตัวละครและเนื้อเรื่องนี้</p>

        <p class="detail-text-bold"> อ้างอิงรูปภาพ </p>

        <ul>
            <li>
                <a class="link-text" href="http://ww2images.blogspot.com/2013/12/showa-emperor-hirohito-at-his.html">
                    World War II Pictures In Details
                </a>
            </li>
            <li>
                <a class="link-text" href="https://th.wikipedia.org/wiki/%E0%B8%A2%E0%B8%B8%E0%B8%84%E0%B9%84%E0%B8%97%E0%B9%82%E0%B8%8A">
                    Wikipedia "ยุคไทโช"
                </a>
            </li>
            <li>
                <a class="link-text" href="https://www.pinterest.com/pin/245024035957375411/">
                    Pinterest - etsy.com
                </a>
            </li>
            <li>
                <a class="link-text" href="https://en.wikipedia.org/wiki/Taish%C5%8D">
                    Wikipedia "Taishō"
                </a>
            </li>
            <li>
                <a class="link-text" href="http://www.oldtokyo.com/a-part-of-pleasure-land-at-asakusa-park-c-1920/">
                    Oldtokyo
                </a>
            </li>
            <li>
                <a class="link-text" href="https://www.japankakkoii.com/japanese-food/japanese-curry-recipe/">
                    Japankakkoii
                </a>
            </li>
            <li>
                <a class="link-text" href="http://www.ironcine.com/2020/05/kimetsu-no-yaiba-204-manga-adelanto.html">
                    IRONCINE
                </a>
            </li>
            <li>
                <a class="link-text" href="https://www.viz.com/demon-slayer-kimetsu-no-yaiba">
                    VIZ
                </a>
            </li>
            <li>
                <a class="link-text" href="https://www.anime2you.de/news/385915/demon-slayer-manga-endet-mit-23-baenden/">
                    ANIME2YOU
                </a>
            </li>
            <li>
                <a class="link-text" href="http://www.gypzyworld.com/article/view/17">
                    Gypzy World
                </a>
            </li>
        </ul>

        <p class="detail-text-bold"> อ้างอิงข้อมูล </p>

        <ul>
            <li>
                <a class="link-text" style="color:#ecba71;"> หนังสือ ประวัติศาสตร์ทั่วไปของญี่ปุ่นสมัยใหม่ มหาวิทยาลัยเกษตรศาตร์ ของ ร.ศ.เพ็ญศรี กาญจโนมัย </a>
            </li>
            <li>
                <a class="link-text" href="http://plengchayaporn.blog.fc2.com/blog-entry-7.html">
                    plengchayaporn.blog
                </a>
            </li>
        </ul>

    </div>

    <!--========================== Share Button =====================================-->
    <br />
    <div align="center">
        <div class="fb-share-button" data-href="https://miraii.space/blog/Kimetsunoyaibataisho" data-layout="button_count" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmiraii.space%2Fblog%2FKimetsunoyaibataisho&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore"> Share </a></div>
    </div>
    <br />
    <br />

    <!--============================ Author's Thumbnail ===================================-->

    <div class="container bg-light">
        <div class="row">
            <div class="col-md" style="max-width:580px">
                <img class="author-img" src="~/image/Read/Author_img/Dew's profile.jpg">
            </div>
            <div class="col-md author-detail author-box-text">
                <p class="author-head-text">Author Info</p>
                <p> <strong> Author </strong> : ลุงโจนาธาน </p>
                <p>
                    <strong> Style </strong> :
                    <a asp-controller="Blog" asp-action="Index"> Culture, </a>
                    <a asp-controller="Review" asp-action="Index"> Entertainment, </a>
                    <a asp-controller="Review" asp-action="Index"> Book </a>
                </p>
                <address>
                    <strong> Contact </strong> :
                    <a class="author-socail-icon" href="https://www.facebook.com/Jonathan-%E0%B8%A5%E0%B8%B8%E0%B8%87%E0%B9%82%E0%B8%88%E0%B8%99%E0%B8%B2%E0%B8%98%E0%B8%B2%E0%B8%99-110987617373496/"><i class="fab fa-facebook-square"></i> , </a>
                    <a href="https://www.blockdit.com/pages/5f22884aed8f430cc23fb1aa"> Blockdit</a>
                </address>
                <p>
                    เป็นลุง Content Creator คนหนึ่งที่สนใจใน Pop culture
                    และเชื่อว่าผลงานศิลปะทุกประเภทล้วนแล้วมี Culture อยู่ในนั้น
                </p>
            </div>
        </div>
    </div>

    <br />

    <!--========================== Facebook Comment Plugin ======================-->
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="card my-4 embed-responsive">
                    <h5 class="card-header display-6 bg-maincolor main-font ">Comment</h5>
                    <div class="card-body">
                        <div class="fb-comments" data-href="https://miraii.space/Blog/ProjectPowerNetflix" data-width="480" data-numposts="3"></div>
                    </div>
                </div>
            </div>


            <!--========================== You May Also Like ? ======================-->
            <div class="col-lg-6">
                <div class="card my-4 embed-responsive">
                    <h5 class="card-header display-6 bg-maincolor main-font ">You may also like ?</h5>
                    <div class="card-body">

                        @foreach (var item in Model.ContentInfo)
                        {
                            <hr />
                            <a class="also-head-text" asp-area="" asp-controller="@item.Controller" asp-action="@item.Action">
                                <img class="also-img" src="@Url.Content(item.ContentLocation)">
                            </a>
                            <hr />
                            <a class="also-head-text" asp-area="" asp-controller="@item.Controller" asp-action="Index">
                                @item.ContentName
                            </a>
                            <br />
                            <a class="also-category" asp-area="" asp-controller="@item.Controller" asp-action="index">
                                @item.ContentCategory
                            </a>
                            <div class="row">
                                <div class="col text-left">  <p class="also-credit"> Author : @item.ContentWriter </p> </div>
                                <div class="col text-right"> <p class="also-credit"> @item.ContentDate </p></div>
                                <br />
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--================ Banner =======================-->
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary">For Ads</strong>
                        <h3 class="mb-0 display-6">Advertising</h3>
                        <div class="mb-1 text-muted">?????</div>
                        <p class="card-text mb-auto">?????</p>
                        <a href="#" class="stretched-link">miraii.team@gmail.com</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">

                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-success">For Ads</strong>
                        <h3 class="mb-0 display-6">Advertising</h3>
                        <div class="mb-1 text-muted">?????</div>
                        <p class="mb-auto">?????</p>
                        <a href="#" class="stretched-link">miraii.team@gmail.com</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">

                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
