@{
    ViewData["Title"] = "Life";
    Layout = "~/Views/Shared/_Layout _Read.cshtml";
    @model MiraiiCore.Models.ContentDataViewModel
}

<style>
    .img-head {
        display: block;
        margin-top: 75px;
        margin-bottom: 20px;
        width: 100%;
    }

    .cont-name {
        font-family: 'Sarabun', sans-serif;
        color: #E5AC51;
        font-size: 25px;
        font-weight: bold;
    }

    .cont-detail {
        font-family: 'Sarabun', sans-serif;
        font-size: 15px;
        color: black;
    }

        .cont-detail:hover {
            font-family: 'Sarabun', sans-serif;
            font-size: 15px;
            color: #F5B041;
            text-decoration: underline;
        }

    .cont-category {
        font-family: 'Bangers', cursive;
        font-size: 35px;
        color: #E5AC51;
    }

    .cont-img {
        display: block;
        width: 100%;
        margin-top: 20px;
    }

    .lastest-credit {
        font-family: 'Sarabun', sans-serif;
        font-size: 15px;
        color: #BEB9B8;
        margin-bottom: 0px;
    }

    .lastest-category {
        font-family: 'Sarabun', sans-serif;
        font-size: 15px;
        margin-bottom: 0px;
    }
</style>

<body>
    <!--Crossfade Carousel (picture 1200x480)-->
    <img src="~/image/Read/Life/LIFE.png" class="img-head">

    <br />
    <br />

    <div class="container">
        <hr />
        <br />
        <div class="row">
            <div class="col-lg-6">
                <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary">Top of the week</strong>
                        <h3 class="mb-0 display-6">XXX</h3>
                        <div class="mb-1 text-muted">Nov 12</div>
                        <p class="card-text mb-auto">AAAAAAAAAAAAAAAAAAAAAA</p>
                        <a href="#" class="stretched-link">Continue reading</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" role="img" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-success">Top of the month</strong>
                        <h3 class="mb-0 display-6">YYY</h3>
                        <div class="mb-1 text-muted">Nov 11</div>
                        <p class="mb-auto">AAAAAAAAAAAAAAAAAAAAAA</p>
                        <a href="#" class="stretched-link">Continue reading</a>
                    </div>

                    <div class="col-auto d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" role="img" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

                    </div>
                </div>
            </div>

            <br />
            <br />

        </div>
    </div>
    <div class="container text-center">
        <hr />
        <p class="cont-category">Editor's Best Seleciton !</p>
        <a asp-area="" asp-controller="Review" asp-action="DrRomantic">
            <img src="~/image/Read/Life/Life9.jpg" class="cont-img" />
        </a>
        <br />
    </div>

    <br />
    <br />

    <main role="main">
        <section id="portfolio" class="portfolio">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 ">
                        <ul id="portfolio-flters">
                            <li data-filter="*" class="filter-active">Latest</li>
                            <li data-filter=".filter-app">Top</li>
                        </ul>
                    </div>
                </div>

                <div class="row portfolio-container" data-aos="fade-up">
                    @foreach (var item in Model.ContentInfo)
                    {
                        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                            <a asp-area="" asp-controller="@item.Controller" asp-action="@item.Action">
                                <img src="@Url.Content(item.ContentLocation)" width="100" height="225" class="card-img-top" text="Thumbnail" />
                            </a>
                            <div class="card-body">
                                <a asp-area="" asp-controller="@item.Controller" asp-action="@item.Action"> @Html.DisplayFor(modelItem => item.ContentName) </a>
                                <br />
                                <p class="lastest-category">@Html.DisplayFor(modelItem => item.ContentCategory)</p>
                                <p class="lastest-credit">Author : @Html.DisplayFor(modelItem => item.ContentWriter)</p>
                                <br />
                                <p class="card-text">@Html.DisplayFor(modelItem => item.ContentDescription)</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="submit" class="btn btn-sm btn-outline-success"><a class="btn-outline-success" asp-area="" asp-controller="@item.Controller" asp-action="@item.Action">View</a></button>
                                        <button type="submit" class="btn btn-sm btn-outline-primary" data-href="https://thehandymanbkk.com/Review/LoveGeneration" data-layout="button"><a class="btn-outline-primary" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fthehandymanbkk.com%2FReview%2FLoveGeneration&amp;src=sdkpreparse">Share</a></button>
                                    </div>
                                    <small class="text-muted">@Html.DisplayFor(modelItem => item.ContentDate)</small>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <a asp-area="" asp-controller="Blog" asp-action="Index" class="btn form-control btn-outline-success">See more !</a> <!-- BS3 -->
            </div>
        </section>
    </main>

    <br />
    <br />
    <br />
    <br />

    <!--============== banner ===============-->
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary">For Ads</strong>
                        <h3 class="mb-0 display-6">Advertising</h3>
                        <div class="mb-1 text-muted">?????</div>
                        <p class="card-text mb-auto">?????</p>
                        <a href="#" class="stretched-link">miraii.team@gmail.com</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">

                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-success">For Ads</strong>
                        <h3 class="mb-0 display-6">Advertising</h3>
                        <div class="mb-1 text-muted">?????</div>
                        <p class="mb-auto">?????</p>
                        <a href="#" class="stretched-link">miraii.team@gmail.com</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>