@{
    ViewData["Title"] = "Life";
    Layout = "~/Views/Shared/_Layout _Read.cshtml";
    @model MiraiiCore.Models.ContentDataViewModel
}

<head>
    <link href="~/css/css_read.css" rel="stylesheet">
    <link href="~/css/css_article.css" rel="stylesheet">
</head>

<body>
    <!--================ Top of the Week & Mounth (ratio_5:2 / min.size_1200x480) =======================-->
    <img src="~/image/Read/life/LIFE.png" class="img-head">
    <br />
    <br />

    <!--================ Top of the Week & Mounth =======================-->
    <div class="container">
        <hr />
        <br />
        <div class="row">
            <div class="col-lg-6">
                <div class="card my-4 embed-responsive">
                    <h5 class="card-header display-6 bg-maincolor main-font ">Top of the Week</h5>
                    <div class="card-body">
                        <a class="also-head-text">
                            <img class="also-img" src="~/image/unknow.png">
                        </a>
                        <hr />
                        <a class="also-head-text"> ????? </a>
                        <br />
                        <a class="also-category"> ????? </a>
                        <div class="row">
                            <div class="col text-left">  <p class="also-credit"> Author :  ?????  </p> </div>
                            <div class="col text-right"> <p class="also-credit">  ?????  </p></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card my-4 embed-responsive">
                    <h5 class="card-header display-6 bg-maincolor main-font ">Top of the Week</h5>
                    <div class="card-body">
                        <a class="also-head-text">
                            <img class="also-img" src="~/image/unknow.png">
                        </a>
                        <hr />
                        <a class="also-head-text"> ????? </a>
                        <br />
                        <a class="also-category"> ????? </a>
                        <div class="row">
                            <div class="col text-left">  <p class="also-credit"> Author :  ?????  </p> </div>
                            <div class="col text-right"> <p class="also-credit">  ?????  </p></div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <br />
        </div><!--row-->
    </div>

    <!--================ Editor's Best Seleciton ! (ratio_3:4 / min.size_500x375) =======================-->
    <div class="container text-center">
        <hr />
        <p class="sel-text">Editor's Best Seleciton !</p>
        <a asp-area="" asp-controller="Review" asp-action="DrRomantic">
            <img src="~/image/Read/Life/Life9.jpg" class="sel-img" />
        </a>
    </div>

    <!--================ All content (ratio_3:4 / min.size_500x375) =======================-->
    <main role="main">
        <section id="portfolio" class="portfolio">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 ">
                        <ul id="portfolio-flters" style="margin-bottom:5px;">
                            <p data-filter="*" class="filter-active filter-text text-center"> All </p>
                        </ul>
                    </div>
                </div>

                <div class="row portfolio-container" data-aos="fade-up">
                    @foreach (var item in Model.ContentInfo)
                    {
                        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                            <a asp-area="" asp-controller="@item.Controller" asp-action="@item.Action">
                                <img src="@Url.Content(item.ContentLocation)" class="content-img" text="Thumbnail" />
                            </a>
                            <div class="card-body">
                                <a class="content-name" asp-area="" asp-controller="@item.Controller" asp-action="@item.Action">
                                    @Html.DisplayFor(modelItem => item.ContentName)
                                </a>
                                <p class="content-category">@Html.DisplayFor(modelItem => item.ContentCategory)</p>
                                <h1 class="content-credit">Author : @Html.DisplayFor(modelItem => item.ContentWriter)</h1>
                                <p class="content-detail">@Html.DisplayFor(modelItem => item.ContentDescription)</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="submit" class="btn btn-sm btn-outline-success"><a class="btn-outline-success" asp-area="" asp-controller="@item.Controller" asp-action="@item.Action">View</a></button>
                                        <button type="submit" class="btn btn-sm btn-outline-warning" data-layout="button"><a class="btn-outline-warning" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fthehandymanbkk.com%2FReview%2FLoveGeneration&amp;src=sdkpreparse">Share</a></button>
                                    </div>
                                    <small class="text-muted"><i class="far fa-calendar-alt"></i> &nbsp; @Html.DisplayFor(modelItem => item.ContentDate)</small>
                                </div>
                            </div>
                        </div><!--column-->
                    }
                </div>  <!--content's row-->
            </div>
        </section>
    </main>

    <!--================ Banner =======================-->
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary">For Ads</strong>
                        <h3 class="mb-0 display-6">Advertising</h3>
                        <div class="mb-1 text-muted">?????</div>
                        <p class="card-text mb-auto">?????</p>
                        <a href="#" class="stretched-link">miraii.team@gmail.com</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">

                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-success">For Ads</strong>
                        <h3 class="mb-0 display-6">Advertising</h3>
                        <div class="mb-1 text-muted">?????</div>
                        <p class="mb-auto">?????</p>
                        <a href="#" class="stretched-link">miraii.team@gmail.com</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">

                    </div>
                </div>
            </div>
        </div>
    </div>

</body>


