@model IEnumerable<MiraiiCore.Models.ContentDataViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ContentLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContentCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContentDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContentWriter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Controller)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Action)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ContentLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContentCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContentDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContentWriter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Controller)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Action)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ContentID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ContentID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ContentID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
