@model MiraiiCore.Models.ContentDataModel
@{
    ViewBag.Title = "Create";
     Layout = "~/Views/Shared/_Layout_Management.cshtml";
}
<br />
<br />
<br />
<br />
<br />
<div class="text-center">
    <h1>Create Form</h1>
</div>
<br />

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            @using (Html.BeginForm("create", "management", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="row">
                    <div class="col-lg-6 form-group">
                        @Html.LabelFor(model => model.ContentName, "Title")
                        @Html.TextBoxFor(model => model.ContentName, new { @class = "form-control", @required = "required", placeholder = "Title" })
                        
                    </div>
                    <div class="col-lg-6 form-group">
                        @Html.LabelFor(model => model.ContentDate, "Date (YYYY-MM-DD)")
                        @Html.TextBoxFor(model => model.ContentDate, new { @class = "form-control", @required = "required", placeholder = "Date" })
                       
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 form-group">
                        @Html.LabelFor(model => model.ContentWriter, "Writer")
                        @Html.TextBoxFor(model => model.ContentWriter, new { @class = "form-control", @required = "required", placeholder = "Writer" })
                      
                    </div>

                    <div class="col-lg-6 form-group">
                        @Html.LabelFor(model => model.Editor, "Editor")
                        @Html.TextBoxFor(model => model.Editor, new { @class = "form-control", @required = "required", placeholder = "Editor", type = "Text" })
                        <lable class="text-danger">
                            @Html.ValidationMessage("errEditor")
                        </lable>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 form-group">
                        @Html.LabelFor(model => model.ContentCategory, "Category")
                        @Html.DropDownListFor(m => m.ContentCategory, new List<SelectListItem>
                        {
                        new SelectListItem { Text="Blog", Value="Blog" },
                        new SelectListItem { Text="Life", Value="Life" },
                        new SelectListItem { Text="Review", Value="Review" },
                        new SelectListItem { Text="Story", Value="Story" }
                        }, "กรุณาเลือก", new { @class = "form-control", @required = "required" })
                        @Html.ValidationMessageFor(model => model.ContentCategory, "", new { @class = "text-danger"})
                    </div>
                    <div class="col-lg-6 form-group">
                        @Html.LabelFor(model => model.Release, "Release")
                        @Html.DropDownListFor(m => m.Release, new List<SelectListItem>
                        {
                        new SelectListItem { Text="Yes", Value="yes" },
                        new SelectListItem { Text="No", Value="no" }
                        }, "กรุณาเลือก", new { @class = "form-control", @required = "required" })
                        @Html.ValidationMessageFor(model => model.Release, "", new { @class = "text-danger"})
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ContentDescription, "Description")
                    @Html.TextAreaFor(model => model.ContentDescription, new { @class = "form-control", @required = "required", placeholder = "Description", type = "Text" })
                    <lable class="text-danger">
                        @Html.ValidationMessage("errDuration")
                    </lable>
                </div>
                <div class="row">
                    <div class="col-lg-6 form-group">
                        @Html.LabelFor(model => model.Controller, "Controller")
                        @Html.DropDownListFor(m => m.Controller, new List<SelectListItem>
                        {
                        new SelectListItem { Text="Blog", Value="Blog" },
                        new SelectListItem { Text="Life", Value="Life" },
                        new SelectListItem { Text="Review", Value="Review" },
                        new SelectListItem { Text="Story", Value="Story" }
                        }, "กรุณาเลือก", new { @class = "form-control", @required = "required" })
                        @Html.ValidationMessageFor(model => model.Controller, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-lg-6 form-group">
                        @Html.LabelFor(model => model.Action, "Action")
                        @Html.TextBoxFor(model => model.Action, new { @class = "form-control", @required = "required", placeholder = "Action", type = "Text" })
                        <lable class="text-danger">
                            @Html.ValidationMessage("errAction")
                        </lable>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 form-group">
                        @Html.Label("fileCoverImg", "รูปภาพ")
                        <input type="file" id="fileUpload" name="fileUpload" class="form-control" />
                        <lable class="text-danger">
                            @Html.ValidationMessage("errFileUpload")
                        </lable>
                    </div>
                    <div class="col-lg-6 form-group">
                        @Html.LabelFor(model => model.FileType, "FileType")
                        @Html.TextBoxFor(model => model.FileType, new { @class = "form-control", @required = "required", placeholder = "FileType", type = "Text" })
                        <lable class="text-danger">
                            @Html.ValidationMessage("errFileType")
                        </lable>
                    </div>
                </div>

                <input type="submit" value="Create" class="btn form-control btn btn-primary" />
            }
        </div>
    </div>
</div>
