@model List<MiraiiCore.Models.ContentDataModel>
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Content Management";
    Layout = "~/Views/Shared/_Layout_Management.cshtml";
}

@if (@HttpContextAccessor.HttpContext.Session.GetString("Username") == null)
{
    <h2>Login needed to preceed this action.</h2>
}
else
{
    <br />
    <br />
    <br />
    <br />
    <br />
    <h1 class="text-center">@ViewData["Title"]</h1>
    <h3 class="text-center">Version 0.1</h3>
    <br />

    <div class="container">
        <div class="text-center">
            @Html.ActionLink("Create a content", "Create", "Management", null, new { @class = "btn btn-success", @style = "margin-bottom: 20px; text-center;" })


        </div>
    </div>

    <br>
    <div class="container">
        <div class="col-xl-12">
            <div class="table-responsive-lg">
                <table class="table">
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Image</th>
                        <th>Date</th>
                        <th>Category</th>
                        <th>Writer</th>
                        <th>Release</th>
                        <th>Edit</th>
                        <th>Delete</th>

                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="item-id">@item.ContentID</td>
                            <td>@item.ContentName</td>
                            <td>
                                <img src="@Url.Content(item.ContentLocation)" height="50px" width="90px" />
                            </td>
                            <td>@item.ContentDate)</td>
                            <td>@item.ContentCategory</td>
                            <td>@item.ContentWriter</td>
                            <td>@item.Release</td>
                            <td>
                                @Html.ActionLink("Update", "Update", new
                           {
                               id = item.ContentID
                           }, new { id = item.ContentID, @class = "btn btn-outline-primary", @style = "margin-bottom: 20px;" })
                            </td>
                            <td>
                                <input type="button" value="Delete" class="btn btn-outline-danger" />
                            </td>
                        </tr>
                    }
                </table>
            </div>

            @using (Html.BeginForm("Delete", "Management", FormMethod.Post, new { name = "frmContent", id = "frmContent" }))
            {
                <input type="hidden" name="id" />
            }

            @section Scripts
{
                <script>
                    $(".btn-danger").click(function () {
                        if (!confirm('Do you really want to delete this content ?')) {
                            return false;
                        }
                        var id = $(this).closest("tr").find(".item-id").text();
                        document.frmContent.id.value = id;
                        document.getElementById("frmContent").submit();
                    });
                </script>
            }

        </div>
    </div>
}
